@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
	font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	color: #2a3237;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Smart phones / small devices (landscape/portrait) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.about .description { 
		font-size: 16px;
	}
	.about {
		max-height:100%;
	}
	.about img { 
		padding: 15px;
	}
	.btn-lg, .btn-group-lg > .btn { 
		padding: 3px;
	}
	.navbar-logo-text {
		font-size: 1.75rem !important;
	}
	.timeline h2 { 
		font-size:16px !important;
	}

	.timeline span {
		font-size:20px !important;
	}
	.download:active, .download:visited, .download { 
		color: #fff;
		padding:15px;
	}
	.navbar-nav > li {
		padding: 2px 10px !important;
	}
}


/* iPads/large tablets (portrait/landscape)  */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.about .description {
		font-size:14px;
	}

	.about {
		max-height:100%;
	}
}

/* Larger screens */
@media only screen and (min-width : 1824px) {

}

/* Preloader */
.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}

.preloader div {
	display: none;
	background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
	background-position: 9999px 9999px;
}

/* Typography */
p {
	font-size: 18px;
	line-height: 1.5;
	color: #658289;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
}

ul.white-list {
	padding: 0;
	list-style-type: none;
}

ul.white-list li {
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}

ul.white-list li:before {
	content: ' ';
	position: relative;
	top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 15px;
	background: white;
}

header {
	position: relative;
	width: 100%;
	color: white;
	background: rgba(28, 36, 65, 0.93);
	background: url('../images/header.jpg') center;
	background-size: cover;
}

header .table {
	display: table;
	height: 100%;
}

header .container {
	height: 100%;
}

header .header-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}

header .typed {
	display: inline-block;
	margin: 0;
}

header .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 10px;
	color: #4cb860;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

a {
	text-decoration: none;
	color: #4cb860;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Navigation Bar ( Navbar ) */
nav.navbar {
	position: absolute;
	z-index: 9500;
	width: 100%;
	width: 100vw;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
	color: #4cb860 !important;
}

nav.navbar-fixed-top {
	z-index: 9499;
	top: 0;
	opacity: 0;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
	color: #bbb;
}

.icon-bar {
	background: #bbb;
}

/* Buttons */
.btn {
	font-size: 18px;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn:hover, .btn:focus {
	color: white;
}

.btn.btn-blue {
	background: #4cb860;
}

.btn.btn-blue:hover {
	background: #31b9ff;
}

.btn.btn-blue-fill {
	color: #4cb860;
	border-color: #4cb860;
	background: transparent;
}

.btn.btn-blue-fill:hover {
	color: white;
	background: #4cb860;
}

.btn.btn-white-fill {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn.btn-white-fill:hover {
	color: #4cb860;
	background: #fff;
}

.btn.btn-gray-fill {
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn.btn-gray-fill:hover {
	border-color: #bbb;
	background: #bbb;
}

.container {
	position: relative;
	z-index: 1;
}

/* Sections */
section {
	position: relative;
}

.section {
	padding: 40px 0;
	background: #fff;
}

.section-padded {
	padding: 80px 0 40px;
}

.cut-top {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-right: 30px solid white;
}

.cut-bottom {
	content: ' ';
	position: absolute;
	z-index: 1;
	bottom: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-bottom: 80px solid transparent;
	border-left: 30px solid white;
}

.about {
	width: 100%;
	margin: 40px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: #fff;
}

.about .icon-holder {
	position: relative;
	display: inline-block;
	padding: 10px 0px 10px 0px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.about .heading {
	position: relative;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.about .icon-holder > img.icon {
	width: 100px;
	-webkit-filter: drop-shadow(3px 3px 2px #6f6f6f);
	filter: drop-shadow(3px 3px 2px #6f6f6f);
}

.about:hover {
	border-color: #4cb860;
}

.about:hover .icon-holder {
	top: -60px;
}

.about:hover .heading {
	top: -30px;
}

.about .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.about:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.team {
	margin: 80px 0;
	padding-bottom: 60px;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

.team .cover .overlay {
	height: 250px;
	padding-top: 60px;
	opacity: 0;
	background: rgba(0, 168, 255, 0.9);
	-webkit-transition: opacity 0.45s ease;
	transition: opacity 0.45s ease;
}

.team:hover .cover .overlay {
	opacity: 1;
}

.team .avatar {
	position: relative;
	z-index: 2;
	margin-top: 10px;
	border-radius: 50%;
	padding: 10px;
	max-height: 250px;
	border: 3px solid #4cb860;
}

.team .title {
	margin: 50px 0;
}

.owl-twitter i.icon {
	font-size: 36px;
	margin-bottom: 60px;
	color: white;
}

/* Footer */
footer {
	padding: 40px 0 40px;
	-webkit-background-size: cover;
	background-size: cover;
	background: #333;
}

/*footer .bottom-footer {
	margin-top: 150px;
}*/

footer .social-footer {
	padding: 0;
	list-style: none;
}

footer .social-footer li {
	display: inline-block;
	margin: 0 10px;
}

footer .social-footer li a {
	font-size: 24px;
	color: #fff;
}

footer .social-footer li:hover a {
	color: #4cb860;
}
/* Form Control */

.form-control {
	font-size: 18px;
	position: relative;
	left: 0;
	height: auto;
	padding: 20px 30px;
	border: 1px;
	border-radius: 0;
	box-shadow: 0;
}

.form-control.form-white {
	color: #fff;
	border: 2px solid white;
	background: transparent;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.form-control.form-white::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #fff;
}

.form-control.form-white:-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 4 to 18 */
	color: #fff;
}

.form-control.form-white::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: #fff;
}

.form-control.form-white:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #fff;
}

.form-control.form-white:focus {
	background: rgba(255,255,255,0.2);
}

/* Popup */
.modal {
	padding: 0 25px !important;
}

.modal-dialog {
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
}

.modal-popup {
	position: relative;
	padding: 45px 30px;
	text-align: center;
	background: url('../images/popup.jpg');
	box-shadow: none;
	border-radius: 2px;
}

.modal-popup a.close-link {
	font-size: 22px;
	position: absolute;
	top: 20px;
	right: 30px;
	color: #fff;
}

.popup-form {
	width: 90%;
	max-width: 375px;
	margin: 60px auto;
}

.popup-form .form-control {
	margin: 20px 0;
}

.popup-form .form-control.dropdown {
	text-align: left;
}

.popup-form .form-control.dropdown:after {
	content: '\f0d7';
	font-family: 'FontAwesome';
	display: inline-block;
	float: right;
	color: white;
}

.popup-form .dropdown .dropdown-menu {
	top: 65px;
	width: 100%;
	padding: 0;
	border: 2px solid white;
	border-top: 0;
	border-radius: 0;
	background: white;
	box-shadow: none;
}

.popup-form .dropdown .dropdown-menu li {
	font-size: 16px;
	width: 100%;
	background: transparent;
}

.popup-form .dropdown .dropdown-menu li a {
	width: 100%;
	padding: 15px 30px;
	color: #4cb860;
}

.popup-form .dropdown .dropdown-menu li:hover a {
	color: #fff;
	background: #4cb860;
}

/* Checkbox */

.checkbox-holder {
	white-space: nowrap;
}

.checkbox {
	position: relative;
	display: block;
}

.checkbox {
	position: relative;
}

.checkbox label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 2px solid white;
	background: transparent;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.checkbox input[type=checkbox]:focus + label:before {
	background: rgba(255,255,255,0.2);
}

.checkbox label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	opacity: 0;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.checkbox input[type=checkbox] {
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}

.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.checkbox-holder span {
	position: relative;
	display: inline-block;
	margin: 0 0 0 10px;
	white-space: normal;
	color: #fff;
}

.btn.btn-submit {
	width: 100%;
	margin-top: 30px;
	color: #4cb860;
	border: 2px solid #fff;
	background: #fff;
}

.btn.btn-submit:focus {
	font-weight: bold;
}

.btn.btn-submit:hover {
	color: #4cb860;
	background: #fff;
}

/* Mobile Nav */
.mobile-nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	background: rgba(255, 255, 255, 0.98);
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.mobile-nav.active {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.mobile-nav ul {
	display: table-cell;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}

.mobile-nav ul li {
	margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
	color: #aaa;
}

.mobile-nav a.close-link {
	font-size: 24px;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 10px);
	left: 0;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	background: #4cb860;
}

.row.title {
	padding: 0 20px;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: bold;
}
/* Colors */

.white {
	color: white;
}

.light-white {
	color: rgba(255, 255, 255, 0.5);
}

.white-bg {
	background: white;
}

.gray-bg {
	background: #f7f7f7;
}

.blue {
	color: #4cb860;
}

.blue-bg {
	background: #4cb860;
}

.muted {
	color: #989da0;
}

.margin-top {
	margin-top: 150px;
}

@media(max-width:992px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}
	.section {
		padding: 30px 0;
	}
	.text-center-mobile {
		text-align: center !important;
	}
	.navbar-logo-text { 
		margin-left: -50px;
	}

	.navbar-expand-lg > .container { 
		margin-right:1em;
	}
}


@media(max-width: 768px) {
	.popup-form {
		width: 100%;
		margin: 60px auto;
	}
	.modal {
		padding: 0 10px !important;
	}
	.popup-form .form-control:not(.dropdown):focus {
		position: relative;
		padding-right: 30px;
		padding-left: 30px;
	}
}

.navbar-logo { 
	height: 50px !important;
}

.navbar-logo-text { 
	font-size: 3rem;
	color: #658289;
}
.navbar-logo-text a:hover {
	text-decoration: none;
	color: #658289;
}
.navbar-logo-text a:active, a:visited {
	text-decoration: none;
}

.langbtn {
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: 0;
	background: none;
	color: #fff;
}
.lang-dropdown {
	position: relative;
	display: inline-block;
}
.lang-dropdown-child {
	display: none;
}
.lang-dropdown-child a {
	text-decoration: none;
	display: block;
}
.show-child {
	position: absolute;
	display: block;
	background: white;
	width: 100%;
	min-width: 100px;
}
.navbar-fixed-top .show-child {
	position: absolute;
	display: block;
	background: white;
	width: 100%;
	z-index: 999999;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.show-child a {
	color: #4caf50 !important;
	padding: 2px 0px 0px 4px;
}
.team-social {
	font-size: 4rem;
}

/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #3D3D3D;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -6px;
}

/* Container around content */
.timeline-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -10px;
	background-color: white;
	border: 4px solid #4cb860;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

/* Place the container to the left */
.left {
	left: 0;
}

/* Place the container to the right */
.right {
	left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #4cb86040;
}

/* Add arrows to the right container (pointing left) */
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent #4cb86040 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
	left: -16px;
}

/* The actual content */
.timeline-content {
	padding: 20px 30px;
	background-color: #4cb86040;
	position: relative;
	border-radius: 6px;
}

.timeline-date {
	margin: 0 !important;
	color: #4cb85f;
	font-weight: 600;
}

.timeline p { 
	font-size: 12px;
}
.timeline h2 { 
	font-size: 24px;
	display: inline-block;
}
.timeline span { 
	display: inline-block;
	font-size: 32px;
	color: #4cb85f;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: 31px;
	}

	/* Full-width containers */
	.timeline-container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	/* Make sure that all arrows are pointing leftwards */
	.timeline-container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent #4cb86040 transparent transparent;
	}

	/* Make sure all circles are at the same spot */
	.left::after, .right::after {
		left: 15px;
	}

	/* Make all right containers behave like the left ones */
	.right {
		left: 0%;
	}
}

footer h3 { 
	color: #fff;
}

.navbar-nav > li { 
	float: none;
	display: inline-block;
	padding: 0px 10px;
	font-size: 1rem;
}

.nav-item a {
	color: #fff;
}
.nav-item a:hover {
	text-decoration: none;
}

.downloads {
	width: 100%;
	margin: 20px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: #fff;
	padding:20px;
}

.downloads:hover {
	border-color: #4cb860;
}

.light-shadow { 
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.abstract {
	width: 100%;
	margin: 20px 0;
	text-align: left;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: #fff;
	padding: 1rem;
}
.abstract h4 {
	text-align:center;
}
.abstract:hover { 
	border-color: #4cb860;
}

#guides img {
	max-width: 100%;
}

#top-area {
	position: relative;
	width: 100%;
	color: white;
	background: rgba(28, 36, 65, 0.93);
	background: url('../images/header.jpg') center;
	background-size: cover;
	padding-top:20vh;
}

#top-area  .table {
	display: table;
	height: 100%;
}

#top-area  .container {
	height: 100%;
}

#top-area  .header-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}
.resources {
	width: 100%;
	margin: 20px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: #fff;
}

.resources img {
	position: relative;
	z-index: 2;
	margin-top: 10px;
	padding: 10px;
	max-height: 100px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.resources:hover {
	border-color: #4caf50;
}
.resources-con a:hover {
	color: #4caf50;
	text-decoration: none;
}

.navbar-fixed-top .langbtn {
	color: #bbb;
}
.table th, .table td {
	background: #ededed;

}

.hidden {
	display: none;
}

.masari {
	background-color: #4cb860;
	border-color: #4cb860;
}
.download.btn-lg {
	display: inline-block;
}
.download:hover { 
	background-color: #137516;
	border-color:#137516;
	text-decoration: none;
}
.fa.download-btn-logo {
	line-height: 5rem;
	font-size: 2.5rem;
}
.download-btn-logo.fa-windows {
	margin-right:.5rem;
}
.download-btn-logo.fa-apple {
	margin-right:.5rem;
}
.download-btn-logo.fa-linux {
	margin-right:.5rem;
}
.dlversion {
	display: block;
	font-size: .75rem;
	margin: -1.25rem 0 0 2.50rem;
	padding-bottom: 1rem;
}
.center {
	text-align: center;
}

.learn-more {
	margin: 0 0 5rem 0;
}

.padded-row {
	padding: 1.25rem;
}

.centered {
	margin: 0 auto;
}

.left-align { 
	left: 0;
}

.right-align{ right: 0; }

.navbar-dark .navbar-toggler { 
	color: #658289 !important;
}

.navbar { padding: 0px; }
.top-button { 
	bottom: 0;
    right: 0;
    padding: 5px 20px 0px 20px;
    margin: 0px 20px 20px 0px;
    background: #4cb860;
    position: fixed;	
    z-index: 2;
}

.top-button:hover, .top-button:active { 
text-decoration: none;
}
.top-button p, .top-button i { 
	    color: #fff;
	    text-align: center;
	    width: 100%;
}