---
layout: external
permalink: "/guides"
ref: guides
lang: en
title: '{{ site.translations[page.lang].seo.meta.guide.title }}'
description: '{{ site.translations[page.lang].seo.meta.guide.desc }}'
---
<section id="guides" class="section gray-bg">
	<div class="container">
		<div class="cli-guide">
			<div id="accordion">
				<div class="card">
					<div class="card-header">
							<a data-toggle="collapse" href="#cliguide">
								Masari CLI Guide
							</a>
					</div>
					<div id="cliguide" class="collapse show" data-parent="#accordion">
						<div class="card-body">
							{% capture cliGuide %}{% include_relative marketing/Tutorials/CLI-wallet/CLI_Wallet_Instructions.md %}{% endcapture %}
							{{ cliGuide | markdownify }}
						</div>
					</div>
				</div>
			 	<div class="card">
					<div class="card-header">
							<a data-toggle="collapse" href="#webwalletguide">
								Masari Web Wallet Guide
							</a>
					</div>
					<div id="webwalletguide" class="collapse" data-parent="#accordion">
						<div class="card-body">
							{% capture wwGuide %}{% include_relative marketing/Tutorials/Web-Wallet/Webwallet_Instructions.md %}{% endcapture %}
							{{ wwGuide | markdownify }}
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
							<a data-toggle="collapse" href="#paperwalletguide">
								Masari Paper Wallet Guide
							</a>
					</div>
					<div id="paperwalletguide" class="collapse" data-parent="#accordion">
						<div class="card-body">
							{% capture pwGuide %}{% include_relative marketing/Tutorials/Paper-Wallet/Paper_Wallet_Instructions.md %}{% endcapture %}
							{{ pwGuide | markdownify }}
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
							<a data-toggle="collapse" href="#guiwalletguide">
								Masari GUI Wallet Guide
							</a>
					</div>
					<div id="guiwalletguide" class="collapse" data-parent="#accordion">
						<div class="card-body">
							{% capture gwGuide %}{% include_relative marketing/Tutorials/GUI-Wallet/GUI_Wallet_Instructions.md %}{% endcapture %}
							{{ gwGuide | markdownify }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cut cut-bottom"></div>
</section>