---
layout: default
ref: index
lang: en
title: '{{ site.translations[page.lang].seo.meta.main.title }}'
description: '{{ site.translations[page.lang].seo.meta.main.desc }}'
---
<!-- banner -->
<header id="home">
	<div class="container">
		<div class="table">
			<div class="header-text">
				<div class="flex-row">
					<div class="col-md-12 text-center">
						<h1 class="white">{% t banner.heading %}</h1>
						<h2 class="white">{% t banner.subheading %}</h2>
						{% comment %} 
						Assign a bunch of variables to be used later.
						Then look in _data/[lang]/downloads for available downloads.
						Grab some info, assign to the bunch of variables that get used afterwards.
						{% endcomment %}
						{% assign corewin = false %}
						{% assign corelin = false %}
						{% assign coremac = false %}
						{% assign coredroid = false %}
						{% assign coreVerWin = false %}
						{% assign coreVerLinux = false %}
						{% assign coreVerMac = false %}
						{% assign coreVerAndroid = false %}
						{% for os1 in site.data[page.lang].downloads %}
							{% assign opsys1 = os1[1] %}
							{% assign operatingsystem = opsys1.system %}
							{% case operatingsystem %}
								{% when "Windows" %}
									{% for dl in opsys1.releases %}
										{% if dl.type contains "CLI" %} 
											{% assign corewin = dl.url %}
											{% assign coreVerWin = dl.version | append: ' ' | append: dl.codename %}
										{% endif %}
									{% endfor %}
								{% when "Linux" %}
									{% for dl in opsys1.releases %}
										{% if dl.type contains "CLI" %} 
											{% assign corelin = dl.url %}
											{% assign coreVerLinux = dl.version | append: ' ' | append:  dl.codename %}
										{% endif %}
									{% endfor %}
								{% when "Apple" %}
									{% for dl in opsys1.releases %}
										{% if dl.type contains "CLI" %} 
											{% assign coremac = dl.url %}
											{% assign coreVerMac = dl.version | append: ' ' | append:  dl.codename  %}
										{% endif %}
									{% endfor %}
								{% when "Android" %}
									{% for dl in opsys1.releases %}
										{% if dl.type contains "Play Store" %} 
											{% assign coredroid = dl.url %}
											{% assign coreVerAndroid = dl.version | append: ' ' | append:  dl.codename %}
										{% endif %}
									{% endfor %}
							{% endcase %}
						{% endfor %}

						<a id="downloadbutton" class="download masari btn-primary btn-lg" data-win-dl="{{ corewin }}" data-win-dl-ver="v{{ coreVerWin }}" data-linux-dl="{{ corelin }}" data-linux-dl-ver="v{{ coreVerLinux }}" data-android-dl="{{ coredroid }}" data-android-dl-ver="v{{ coreVerAndroid }}" data-mac-dl="{{ coremac }}" data-mac-dl-ver="v{{ coreVerMac }}" href="#downloads">
							{% capture download %}
								{% t banner.download %}
							{% endcapture %}
							{% assign download_text = download | split: " " %}
							{% comment %}
							This area is reliant on javascript to fill in.
							If OS platform is Win32/Linux x86_64/MacIntel: show "Download for" (banner.download from translations).
							Otherwise, show Download and link to #downloads.
							{%endcomment%}
							<i class="fa download-btn-logo"></i> 
							<span class="download-text">{{ download_text[0] }} </span> 
							<span class="for-text hidden">{{ download_text[1] }} </span> 
							<span class="opsys"></span>
							<span class="dlversion"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- about -->
<section id="about" class="section section-padded gray-bg">
	<div class="container">
		<div class="flex-row text-center title">
			<h1>{% t sections.about.heading %}</h1>
			<p class="text-left"> {% t sections.about.paragraphs.line1 %}</p>
			<p class="text-left"> {% t sections.about.paragraphs.line2 %}</p>
			<p class="text-left"> {% t sections.about.paragraphs.line3 %}</p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="about light-shadow">
					<div class="icon-holder">
						<img src="/img/icons/scalable.png" alt="{% t seo.images.about.image1 %}" class="icon">
					</div>
					<h4 class="heading">{% t sections.about.images.block1.heading %}</h4>
					<p class="description">{% t sections.about.images.block1.text %}</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="about light-shadow">
					<div class="icon-holder">
						<img src="/img/icons/community.png" alt="{% t seo.images.about.image2 %}" class="icon">
					</div>
					<h4 class="heading">{% t sections.about.images.block2.heading %}</h4>
					<p class="description">{% t sections.about.images.block2.text %}</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="about light-shadow">
					<div class="icon-holder">
						<img src="/img/icons/simple.png" alt="{% t seo.images.about.image3 %}" class="icon">
					</div>
					<h4 class="heading">{% t sections.about.images.block3.heading %}</h4>
					<p class="description">{% t sections.about.images.block3.text %}</p>
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="learn-more center">
					<a href="/what-is-masari">
						<span class="btn btn-xl masari">{% t sections.about.learnmore %}</span>
					</a>
				</div>
			</div>
		</div>

	</div>
	<div class="cut cut-bottom"></div>
</section>
<!-- roadmap -->
<section id="roadmap" class="section section-padded">
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="flex-row text-center title">
			<h1 class="centered">{% t sections.roadmap.heading %}</h1>
			<p class="light">{% t sections.roadmap.paragraph %}</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="timeline">
					{% for order in (1..30) %}
						{% for goal in site.data[page.lang].roadmap %}
							{% assign item = goal[1] %}
							{% if item.order == order %}
					<div class="timeline-container {{ item.alignment }}">
						<div class="timeline-content">
							{% if item.year %}
							<p class="timeline-date">
								{% if item.quarter %}
									Q{{ item.quarter }}
								{% endif %}
								{{ item.year }}
							</p>
							{%endif%}
							<h2>{{ item.title }}</h2> 
							{% if item.complete == "true" %}
							<span style="color: #4cb85f; display: inline-block;">
								<i class="fa fa-check" aria-hidden="true"></i>
							</span>
							{% endif %}
							<p> {{ item.desc }} </p>
						</div>
					</div>
							{% endif %}
						{% endfor %}
					{% endfor %}s
				</div>
			</div>
		</div>
	</div>
	<div class="cut cut-bottom"></div>
</section>
<!-- resources -->
<section id="resources" class="section section-padded">
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="flex-row text-center title">
			<h1 class="centered">{% t sections.resources.heading %}</h1>
			<p class="light">{% t sections.resources.paragraph %}</p>
		</div>
		<div class="row">
			{% for order in (1..30) %}
			{% for resources in site.data[page.lang].resources %}
			{% assign resource = resources[1] %}
			{% if resource.order == order %}
			<div class="col-md-3">
				<div class="resources-con">
					<a href="{{ resource.url }}" target="_blank">
						<div class="resources light-shadow">
							<img src="/img/icons/{{ resource.icon }}" alt="Masari {{ resource.name }}">
							<h4> {{ resource.name }} </h4>
						</div>
					</a>
				</div>
			</div>
			{% endif %}
			{% endfor%} 
			{% endfor %}
		</div>
	</div>
	<div class="cut cut-bottom"></div>
</section>
<!-- downloads -->
<section id="downloads" class="section section-padded gray-bg">
	<div class="container">
		<div class="flex-row text-center title">
			<h1 class="centered">{% t sections.downloads.heading %}</h1>
			<p class="light">{% t sections.downloads.paragraph %}</p>
		</div>
		<div class="row centered">
			{% for order in (1..5) %}
			{% for os in site.data[page.lang].downloads %}
			{% assign opsys = os[1] %}
			{% if opsys.order == order %}
			<div class="col-md-6">
				<div class="downloads light-shadow">
					<h2 class="centered">
					<i class="fa fa-{{opsys.system | downcase}}"></i> 
					{% if opsys.system contains "Apple" %} Mac {% else %} {{ opsys.system }} {% endif %} 
					{% if opsys.arch %} {{ opsys.arch }}-bit {% endif %}
					</h2>
					{% for release in opsys.releases %}
					{% if release.type contains "GUI" %}
						<p>
							<a href="{{ release.url }}" target="_blank">{{ opsys.system }} Graphical User Interface (GUI)</a></p>						
							<p>{% t sections.downloads.version %}: {{ release.version }} {{ release.codename }}
						</p>
						{% if release.sha256 != "" %} Official SHA256 Hash: <pre>{{ release.sha256 }}</pre> {% endif %}
					{% endif %}
					{% if release.type contains "CLI" %}
							<p><a href="{{ release.url }}" target="_blank">{{ opsys.system }} Command Line Interface (CLI)</a></p>
							<p>{% t sections.downloads.version %}: {{ release.version }} {{ release.codename }}
						</p>
						{% if release.sha256 != "" %} Official SHA256 Hash: <pre>{{ release.sha256 }}</pre> {% endif %}
					{% endif %}
					{% if release.type contains "Play" %}
						<a href="{{ release.url }}" target="_blank"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width=50% alt="{% t seo.images.android %}"></a><p>{% t sections.downloads.version %}: {{ release.version }} {{ release.codename }}
						</p>
					{% endif %}
				{% endfor %}
				</div>
			</div>
			{% endif %}
				{% endfor %}
				{% endfor %}
		</div>
	</div>
</section>
<!-- research -->
<section id="research" class="section section-padded">
	<div class="container">
		<div class="flex-row text-center title">
			<h1 class="centered">{% t sections.research.heading %}</h1>
			<p class="light">{% t sections.research.paragraph %}</p>
		</div>
		<div class="row centered">
			<div class="col-md-12">
				{% for order in (1..10) %}
				{% for research in site.data[page.lang].research %}
				{% assign article = research[1] %}
				{% if article.order == order %}
				<div class="abstract light-shadow">
				<h4>
					<a href="{{ article.url }}" target="_blank">
					{{ article.title }}
					</a>
				</h4>
				<p>{% t sections.research.abstract %}: {{ article.abstract }}</p>
				</div>
				{%endif%}
				{%endfor%}
				{%endfor%}
			</div>
		</div>
</section>