	<footer>
		<div class="container">
			<!-- ctg disabled row until content is ready. <div class="row">
				<div class="col-md-8">
					<h3>Exchanges</h3>
					<div class="col-sm-8">
						<p>Exchange bullshit removed. Suggestions are open.</p>
					</div>
				</div>
				<div class="col-md-4">
					<h3>Subscribe to Masari</h3>
					<p>Masari subscribers get the latest news regarding releases, hot fixes and project updates emailed to their inbox. Sign up box soon.</p>
				</div>

			</div> -->
			<div class="row bottom-footer text-center text-center-mobile">
				<div class="col-sm-12">
					<div class="col-sm-12 text-center text-center-mobile">
						{% include social.html %}
					</div>
					<p>&copy; 2017-2019 All Rights Reserved. The Masari Project</p>
					<p><a href="/legal">Legal</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>

	<!-- lets get to the top -->
	<a href="#top" class="top-button hidden"><i class="fas fa-chevron-up"></i><p>Top</p></a>
	<!-- Scripts -->
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.onepagenav.js"></script>
	<script src="/js/main.js"></script>

