<div class="preloader">
	<img src="/images/loader.gif" alt="{% t seo.images.preloader %}">
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand js-scroll-trigger" href="/#home"><img class="navbar-logo" src="/images/logo.png" data-active-url="/images/logo.png" alt="{% t seo.images.logo %}"></a>
		<span class="navbar-logo-text">
			{% if site.lang != "en" %}
			<a href="/{{ site.lang }}/#home">masari</a>
			{% else %}
			<a href="/#home">masari</a>
			{% endif %}
			</span>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					{% if site.lang != "en" %}
					<a href="/{{ site.lang }}/#home">{% t navigation.home %}</a>
					{% else %}
					<a href="/#home">{% t navigation.home %}</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{% if site.lang != "en" %}
					<a href="/{{ site.lang }}/#about">{% t navigation.about %}</a>
					{% else %}
					<a href="/#about">{% t navigation.about %}</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{% if site.lang != "en" %}
					<a href="/{{ site.lang }}/#roadmap">{% t navigation.roadmap %}</a>
					{% else %}
					<a href="/#roadmap">{% t navigation.roadmap %}</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{% if site.lang != "en" %}
					<a href="/{{ site.lang }}/#resources">{% t navigation.resources %}</a>
					{% else %}
					<a href="/#resources">{% t navigation.resources %}</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{% if site.lang != "en" %}
					<a href="/{{ site.lang }}/#downloads">{% t navigation.downloads %}</a>
					{% else %}
					<a href="/#downloads">{% t navigation.downloads %}</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{% if site.lang != "en" %}
					<a href="/{{ site.lang }}/#research">{% t navigation.research %}</a>
					{% else %}
					<a href="/#research">{% t navigation.research %}</a>
					{% endif %}
				</li>
				<li class="nav-item">
					<div class="lang-dropdown">
						<button class="langbtn"> {% t navigation.language %} <i class=" fa fa-caret-down lightblue" aria-hidden="true"></i></button>
						<div class="lang-dropdown-child">
							<a href="/">{% t language.en %}</a>
							<a href="/cn">{% t language.cn %}</a>
							<a href="/es">{% t language.es %}</a>
							<!-- add language here. here's an example 
							  <a href="/es">{% t language.es %}</a>
							-->
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div id="top"></div>