<ul class="social-footer">
	<li>
		<a href="https://bitcointalk.org/index.php?topic=2159114">
			<i class="fa fa-btc"></i>
		</a>
	</li>
	<li>
		<a href="https://www.twitter.com/masaricurrency">
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	<li>
		<a href="https://github.com/masari-project">
			<i class="fa fa-github"></i>
		</a>
	</li>
	<li>
		<a href="https://medium.com/@officialmasari">
			<i class="fa fa-medium"></i>
		</a>
	</li>
	<li>
		<a href="https://t.me/masaricurrency">
			<i class="fa fa-telegram"></i>
		</a>
	</li>
	<li>
		<a href="https://discord.gg/sMCwMqs">
			<i class="fab fa-discord"></i>
		</a>
	</li>
</ul>