@charset "UTF-8";

@font-face {
  font-family: "seotheme";
  src: url('../fonts/seoicon.woff2') format('woff2'), /* Modern Browsers */
    url("../fonts/seoicon.woff") format("woff"),
    url("../fonts/seoicon.ttf") format("truetype"),
    url("../fonts/seoicon.svg#seotheme") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="seoicon-"]:before,
[class*=" seoicon-"]:before {
  font-family: "seotheme" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.seoicon-dribbble:before {
  content: "\e900";
}
.seoicon-arrow-back:before {
  content: "\e901";
}
.seoicon-arrow-to-bottom:before {
  content: "\e902";
}
.seoicon-instagram:before {
  content: "\e903";
}
.seoicon-quotes:before {
  content: "\e904";
}
.seoicon-linkedin:before {
  content: "\e905";
}
.seoicon-facebook:before {
  content: "\e906";
}
.seoicon-google-plus:before {
  content: "\e907";
}
.seoicon-check:before {
  content: "\e908";
}
.seoicon-reddit:before {
  content: "\e909";
}
.seoicon-clip:before {
  content: "\e90a";
}
.seoicon-clock:before {
  content: "\e90b";
}
.seoicon-skype:before {
  content: "\e90c";
}
.seoicon-commerce:before {
  content: "\e90d";
}
.seoicon-tags:before {
  content: "\e90e";
}
.seoicon-chat-comment:before {
  content: "\e90f";
}
.seoicon-cross:before {
  content: "\e910";
}
.seoicon-delete-bold:before {
  content: "\e911";
}
.seoicon-delete:before {
  content: "\e912";
}
.seoicon-tumblr:before {
  content: "\e913";
}
.seoicon-twitter:before {
  content: "\e914";
}
.seoicon-viber:before {
  content: "\e915";
}
.seoicon-vimeo:before {
  content: "\e916";
}
.seoicon-whatsapp:before {
  content: "\e917";
}
.seoicon-yahoo:before {
  content: "\e918";
}
.seoicon-yelp:before {
  content: "\e919";
}
.seoicon-mail-send:before {
  content: "\e91a";
}
.seoicon-interface:before {
  content: "\e91b";
}
.seoicon-youtube:before {
  content: "\e91c";
}
.seoicon-loupe:before {
  content: "\e920";
}
.seoicon-loupe-3:before {
  content: "\e923";
}
.seoicon-musical:before {
  content: "\e929";
}
.seoicon-basket:before {
  content: "\e92b";
}
.seoicon-play:before {
  content: "\e933";
}
.seoicon-right-arrow:before {
  content: "\e936";
}
.seoicon-shape-heart:before {
  content: "\e93f";
}
.seoicon-shapes-play:before {
  content: "\e940";
}
.seoicon-shape-heart-bold:before {
  content: "\e941";
}
.seoicon-shapes:before {
  content: "\e942";
}
.seoicon-zoom:before {
  content: "\e944";
}
.seoicon-social-links:before {
  content: "\e945";
}
.seoicon-social-pinterest2:before {
  content: "\e946";
}
.seoicon-link-bold:before {
  content: "\e951";
}
.seoicon-pin-it:before {
  content: "\e952";
}
.seoicon-wireless-internet-connection-symbol:before {
  content: "\e954";
}
.seoicon-add-button:before {
  content: "\61";
}
.seoicon-wifi:before {
  content: "\62";
}
.seoicon-analytics:before {
  content: "\63";
}
.seoicon-antenna:before {
  content: "\64";
}
.seoicon-apps:before {
  content: "\65";
}
.seoicon-arrows:before {
  content: "\66";
}
.seoicon-at:before {
  content: "\67";
}
.seoicon-backup:before {
  content: "\68";
}
.seoicon-bag:before {
  content: "\69";
}
.seoicon-bag-1:before {
  content: "\6a";
}
.seoicon-bag-2:before {
  content: "\6b";
}
.seoicon-bar-stats:before {
  content: "\6c";
}
.seoicon-basket2:before {
  content: "\6d";
}
.seoicon-binary-code:before {
  content: "\6e";
}
.seoicon-chip:before {
  content: "\6f";
}
.seoicon-check-square:before {
  content: "\70";
}
.seoicon-calendar:before {
  content: "\71";
}
.seoicon-bug-free:before {
  content: "\72";
}
.seoicon-bug:before {
  content: "\73";
}
.seoicon-browser-visualization:before {
  content: "\74";
}
.seoicon-browser-2:before {
  content: "\75";
}
.seoicon-browser:before {
  content: "\77";
}
.seoicon-bookmark:before {
  content: "\76";
}
.seoicon-blogging:before {
  content: "\78";
}
.seoicon-bitcoin:before {
  content: "\79";
}
.seoicon-cloud-computing:before {
  content: "\7a";
}
.seoicon-cloud-connection:before {
  content: "\41";
}
.seoicon-cloud-connections:before {
  content: "\42";
}
.seoicon-cloud-data:before {
  content: "\43";
}
.seoicon-cloud-data-1:before {
  content: "\44";
}
.seoicon-cloud-network:before {
  content: "\45";
}
.seoicon-cloud-sync:before {
  content: "\46";
}
.seoicon-coding:before {
  content: "\47";
}
.seoicon-compass:before {
  content: "\48";
}
.seoicon-compass-1:before {
  content: "\49";
}
.seoicon-compass-2:before {
  content: "\4a";
}
.seoicon-compass-3:before {
  content: "\4b";
}
.seoicon-computer:before {
  content: "\4c";
}
.seoicon-connections:before {
  content: "\4d";
}
.seoicon-cup:before {
  content: "\4e";
}
.seoicon-customer:before {
  content: "\4f";
}
.seoicon-design:before {
  content: "\50";
}
.seoicon-devices:before {
  content: "\51";
}
.seoicon-diagonal-enlarge:before {
  content: "\52";
}
.seoicon-distiller:before {
  content: "\53";
}
.seoicon-document-security:before {
  content: "\54";
}
.seoicon-document-security-1:before {
  content: "\55";
}
.seoicon-document-settings:before {
  content: "\56";
}
.seoicon-dollar:before {
  content: "\57";
}
.seoicon-folders:before {
  content: "\58";
}
.seoicon-folder:before {
  content: "\59";
}
.seoicon-flag:before {
  content: "\5a";
}
.seoicon-favorite:before {
  content: "\30";
}
.seoicon-favorites-button:before {
  content: "\31";
}
.seoicon-eye:before {
  content: "\32";
}
.seoicon-euro:before {
  content: "\33";
}
.seoicon-enlarge:before {
  content: "\34";
}
.seoicon-email:before {
  content: "\35";
}
.seoicon-efficency:before {
  content: "\36";
}
.seoicon-downloading-from-smartphone:before {
  content: "\37";
}
.seoicon-download:before {
  content: "\38";
}
.seoicon-domain-registration:before {
  content: "\39";
}
.seoicon-funnel:before {
  content: "\21";
}
.seoicon-glasses:before {
  content: "\22";
}
.seoicon-graph-search:before {
  content: "\23";
}
.seoicon-group:before {
  content: "\24";
}
.seoicon-high-volume:before {
  content: "\25";
}
.seoicon-history-button:before {
  content: "\26";
}
.seoicon-hourglass:before {
  content: "\27";
}
.seoicon-hystogram:before {
  content: "\28";
}
.seoicon-idea:before {
  content: "\29";
}
.seoicon-image:before {
  content: "\2a";
}
.seoicon-key:before {
  content: "\2b";
}
.seoicon-keywords:before {
  content: "\2c";
}
.seoicon-microscope:before {
  content: "\2d";
}
.seoicon-microphone:before {
  content: "\2e";
}
.seoicon-menu-button:before {
  content: "\2f";
}
.seoicon-megaphone:before {
  content: "\3a";
}
.seoicon-medal:before {
  content: "\3b";
}
.seoicon-map:before {
  content: "\3c";
}
.seoicon-mail-settings:before {
  content: "\3d";
}
.seoicon-lock:before {
  content: "\3e";
}
.seoicon-link:before {
  content: "\3f";
}
.seoicon-light-bulb:before {
  content: "\40";
}
.seoicon-letter:before {
  content: "\5b";
}
.seoicon-laptop:before {
  content: "\5d";
}
.seoicon-molecular:before {
  content: "\5e";
}
.seoicon-monitoring:before {
  content: "\5f";
}
.seoicon-mouse:before {
  content: "\60";
}
.seoicon-music:before {
  content: "\7b";
}
.seoicon-mute:before {
  content: "\7c";
}
.seoicon-network:before {
  content: "\7d";
}
.seoicon-new-file:before {
  content: "\7e";
}
.seoicon-newspaper:before {
  content: "\5c";
}
.seoicon-next-page:before {
  content: "\e000";
}
.seoicon-no-bug:before {
  content: "\e001";
}
.seoicon-note:before {
  content: "\e002";
}
.seoicon-notification:before {
  content: "\e003";
}
.seoicon-pin:before {
  content: "\e004";
}
.seoicon-pie-graph-split:before {
  content: "\e005";
}
.seoicon-pie-graph-1:before {
  content: "\e006";
}
.seoicon-pie-graph:before {
  content: "\e007";
}
.seoicon-pie-chart:before {
  content: "\e008";
}
.seoicon-picture:before {
  content: "\e009";
}
.seoicon-phone-shop:before {
  content: "\e00a";
}
.seoicon-pay-per-click:before {
  content: "\e00b";
}
.seoicon-paper-plane:before {
  content: "\e00c";
}
.seoicon-padlock:before {
  content: "\e00d";
}
.seoicon-order:before {
  content: "\e00e";
}
.seoicon-open-book:before {
  content: "\e00f";
}
.seoicon-online-shop:before {
  content: "\e010";
}
.seoicon-pin-1:before {
  content: "\e011";
}
.seoicon-pin-settings:before {
  content: "\e012";
}
.seoicon-play-button:before {
  content: "\e013";
}
.seoicon-play-button-1:before {
  content: "\e014";
}
.seoicon-power:before {
  content: "\e015";
}
.seoicon-ranking:before {
  content: "\e017";
}
.seoicon-refresh-button:before {
  content: "\e018";
}
.seoicon-retweet:before {
  content: "\e016";
}
.seoicon-screen:before {
  content: "\e019";
}
.seoicon-search:before {
  content: "\e01a";
}
.seoicon-search-1:before {
  content: "\e01b";
}
.seoicon-search-engine:before {
  content: "\e01c";
}
.seoicon-shopping-cart-1:before {
  content: "\e01d";
}
.seoicon-shopping-cart:before {
  content: "\e01e";
}
.seoicon-shopping:before {
  content: "\e01f";
}
.seoicon-spider-web:before {
  content: "\e020";
}
.seoicon-speedometer:before {
  content: "\e021";
}
.seoicon-speech-bubbles:before {
  content: "\e022";
}
.seoicon-speech-balloon:before {
  content: "\e023";
}
.seoicon-shop:before {
  content: "\e024";
}
.seoicon-shield:before {
  content: "\e025";
}
.seoicon-social-media:before {
  content: "\e026";
}
.seoicon-smartphone-4:before {
  content: "\e027";
}
.seoicon-sharing-archives:before {
  content: "\e028";
}
.seoicon-shared-folder:before {
  content: "\e029";
}
.seoicon-smartphone-3:before {
  content: "\e02a";
}
.seoicon-smartphone-2:before {
  content: "\e02b";
}
.seoicon-settings:before {
  content: "\e02c";
}
.seoicon-servers:before {
  content: "\e02d";
}
.seoicon-smartphone-1:before {
  content: "\e02e";
}
.seoicon-smartphone:before {
  content: "\e02f";
}
.seoicon-server-and-cloud:before {
  content: "\e030";
}
.seoicon-server:before {
  content: "\e031";
}
.seoicon-sitemap:before {
  content: "\e032";
}
.seoicon-side-menu:before {
  content: "\e033";
}
.seoicon-security-data:before {
  content: "\e034";
}
.seoicon-search-engine-1:before {
  content: "\e035";
}
.seoicon-shopping-cart-2:before {
  content: "\e036";
}
.seoicon-star:before {
  content: "\e037";
}
.seoicon-tracker:before {
  content: "\e038";
}
.seoicon-translation:before {
  content: "\e039";
}
.seoicon-statistics:before {
  content: "\e03a";
}
.seoicon-statistics-1:before {
  content: "\e03b";
}
.seoicon-turn-right:before {
  content: "\e03c";
}
.seoicon-typewriter:before {
  content: "\e03d";
}
.seoicon-statistics-2:before {
  content: "\e03e";
}
.seoicon-stats:before {
  content: "\e03f";
}
.seoicon-upload-to-cloud:before {
  content: "\e040";
}
.seoicon-strategy:before {
  content: "\e041";
}
.seoicon-system:before {
  content: "\e042";
}
.seoicon-user:before {
  content: "\e043";
}
.seoicon-user-1:before {
  content: "\e044";
}
.seoicon-tags2:before {
  content: "\e045";
}
.seoicon-target:before {
  content: "\e046";
}
.seoicon-user-stats:before {
  content: "\e047";
}
.seoicon-users:before {
  content: "\e048";
}
.seoicon-target-1:before {
  content: "\e049";
}
.seoicon-targeting:before {
  content: "\e04a";
}
.seoicon-vertical-bar:before {
  content: "\e04b";
}
.seoicon-vertical-bars:before {
  content: "\e04c";
}
.seoicon-telephone:before {
  content: "\e04d";
}
.seoicon-telephone-1:before {
  content: "\e04e";
}
.seoicon-video:before {
  content: "\e04f";
}
.seoicon-viral-marketing:before {
  content: "\e050";
}
.seoicon-whistle:before {
  content: "\e051";
}
.seoicon-browser-1:before {
  content: "\e052";
}
.seoicon-message:before {
  content: "\e053";
}
.seoicon-close:before {
  content: "\e054";
}
.seoicon-upload-arrow:before {
  content: "\e055";
}
.seoicon-arrows-1:before {
  content: "\e05d";
}
.seoicon-target-search:before {
  content: "\e056";
}
.seoicon-arrows-2:before {
  content: "\e057";
}
.seoicon-business:before {
  content: "\e058";
}
.seoicon-business-1:before {
  content: "\e059";
}
.seoicon-button:before {
  content: "\e05a";
}
.seoicon-coins:before {
  content: "\e05b";
}
.seoicon-graphic:before {
  content: "\e05c";
}
.seoicon-graphic-search:before {
  content: "\e05e";
}
.seoicon-pie-chart-1:before {
  content: "\e05f";
}
.seoicon-pie-graph-2:before {
  content: "\e060";
}
.seoicon-pie-graph-split-1:before {
  content: "\e061";
}
.seoicon-pin-2:before {
  content: "\e062";
}
.seoicon-search-1-1:before {
  content: "\e063";
}
.seoicon-settings-symbol-with-up-arrow-in-a-circle:before {
  content: "\e064";
}
.seoicon-target-audience:before {
  content: "\e065";
}
.seoicon-communication:before {
  content: "\e066";
}
.seoicon-mail-send2:before {
  content: "\e067";
}