@import "theme-styles/variables";


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  color: $heading-color;
}

/*------------- #PRIMARY-COLOR --------------*/

.nice-select .option:hover,
input:focus, textarea:focus, select:focus, .nice-select:focus,
.items-with-border input:focus,
.items-with-border textarea:focus,
.items-with-border select:focus,
.items-with-border .nice-select:focus,
.c-primary,
.btn-prev .utouch-icon, .btn-next .utouch-icon,
.btn-prev.btn--style:hover,
.btn-next.btn--style:hover,
.info-box--standard .utouch-icon,
.info-box--standard-hover:hover .info-box-title,
.info-box--numbers .order-number,
.crumina-testimonial-item .author-name,
.testimonial-item-quote-right .author-name:hover,
.pricing-tables--item-with-thumb:hover .pricing-title,
.crumina-teammembers-item .teammembers-item-name:hover,
.accordion-panel.active .ovh,
.post:hover .post__title,
.post-additional-info a:hover,
.tags-inline li a:hover,
.page-numbers.current,
.event-item .author-name,
.btn-next-wrap:hover .btn-content-subtitle,
.btn-prev-wrap:hover .btn-content-subtitle,
.comments__article .comments__header .comments__author a:hover,
.list-events a,
.list-events div,
.reviews-item-name,
.curriculum-list li:hover .title,
.tgl--text-both input[type="checkbox"]:not(:checked) + span::before,
.timer,
.list--primary i, .list--primary .utouch-icon,
.list--primary a:hover,
blockquote h6 span,
.first-letter--primary span:first-of-type,
.header--dark .logo-sub-title,
.primary-menu-menu > li:hover > a,
.primary-menu-menu > li:hover,
.primary-menu-menu > li.current-menu-item > a,
.primary-menu-menu > li.current-menu-item,
.primary-menu-menu ul.sub-menu li:hover > a,
.primary-menu-menu > li.menu-item-has-mega-menu .megamenu ul > li:hover > a,
.primary-menu-menu > li:hover > a .indicator, .primary-menu-menu > li:hover .indicator,
.more-arrow:hover,
.primary-menu--dark .primary-menu-menu > li.menu-item-has-mega-menu .megamenu ul > li a:hover,
.primary-menu--dark .primary-menu-menu ul.sub-menu li a:hover,
.breadcrumbs-item a:hover,
.breadcrumbs-item.active span,
.breadcrumbs--bordered .breadcrumbs-item a,
.top-bar .nice-select,
.top-bar a:hover,
.sub-footer a:hover,
.sub-footer .sub-footer__link,
.w-info .logo-title,
.w-info .learn-more:hover,
.w-list .list li:hover a,
.w-follow .utouch-icon:hover,
.w-contacts a.info:hover,
.contact-item .utouch-icon,
.location-details a:hover,
.w-category .category-list li:hover a,
.widget_categories a:hover,
.tab-control.active a,
.widget_recent_entries li:hover > a,
.recentcomments a:hover,
.widget_pages a:hover,
.widget_nav_menu a:hover,
.widget_tag_cloud a:hover,
.breadcrumbs--bordered .breadcrumbs-item:not(.active),
.breadcrumbs--rounded .breadcrumbs-item.active,
#site-footer a:not(.btn):not(.sub-footer__link):hover,
#site-footer li:hover a:not(.btn):not(.sub-footer__link),
#site-footer a:not(.btn):hover,
#site-footer li.menu-item-has-children .menu-item:hover > a:not(.btn),
#site-footer li.menu-item-has-children .menu-item:hover > .utouch-icon,
#site-footer li:hover a:not(.btn),
.w-list .list li a:hover,
.widget_nav_menu .list li a:hover,
.w-list .list li li.menu-item-has-children .menu-item:hover > a,
.widget_nav_menu .list li li.menu-item-has-children .menu-item:hover > a,
#site-footer .sub-footer a:not(.btn),
ul.nav-add li.cart:hover .seoicon-basket {

  color: $primary-color;
}


.with-icon input:focus + .utouch-icon,
.with-icon textarea:focus + .utouch-icon,
.with-icon select:focus + .utouch-icon,
.c-primary,
.btn-prev .utouch-icon, .btn-next .utouch-icon,
.btn-prev.btn--style:hover .utouch-icon,
.btn-next.btn--style:hover .utouch-icon,
.info-box--standard .utouch-icon,
.info-box--time-line .time-line-arrow,
.time-line-arrow,
.socials .utouch-icon:hover,
.crumina-accordion .panel-heading.active .accordion-heading i.active,
.crumina-accordion .panel-heading.active .accordion-heading .utouch-icon.active,
.list-post:hover .utouch-icon,
.course-features-list .utouch-icon,
.lection .utouch-icon,
.popup-close .utouch-icon:hover,
.typeahead__container input:focus + .typeahead__button .utouch-icon,
.search-full-screen .search-standard input[type="search"]:focus + .form-icon .utouch-icon,
.list--primary i, .list--primary .utouch-icon,
.list--primary a:hover,
.nav-add li.search:hover .utouch-icon,
.more-arrow:hover .btn-next .utouch-icon,
.top-bar-close .utouch-icon:hover,
.top-bar-link:hover .utouch-icon,
.w-follow .utouch-icon:hover,
.contact-item .utouch-icon,
#site-footer a:not(.btn):not(.sub-footer__link):hover,
#site-footer a.social__item:hover svg,
#site-footer li:hover a:not(.btn):not(.sub-footer__link),
#site-footer a.social__item:hover svg,
.w-list .list li li.menu-item-has-children .menu-item:hover > .utouch-icon,
.widget_nav_menu .list li li.menu-item-has-children .menu-item:hover > .utouch-icon {

  fill: $primary-color;
}


.alert-info,
.btn--primary,
.back-to-top,
.slides-item,
.slider-slides--vertical-line .slides-item.slide-active .round.primary,
.slider-slides--vertical-line .round.primary:before,
.btn-prev.with-bg, .btn-next.with-bg,
.btn-prev.with-bg.bg-black:hover, .btn-next.with-bg.bg-black:hover,
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination.pagination-white .swiper-pagination-bullet.swiper-pagination-bullet-active,
.page-numbers:hover,
.page-links a:hover,
.comments__article .comments__body .reply:hover,
.tabs-with-line .tab-control.active a::after,
.curriculum-list li:before,
.cat-list-bg-style .cat-list__item a:hover,
.cat-list-bg-style .cat-list__item.active,
.tgl input[type="checkbox"]:not(:checked) + span,
.first-letter--squared span:first-of-type,
.bg-primary-color,
.primary-menu-menu ul.sub-menu li:hover:before,
.primary-menu-menu > li.menu-item-has-mega-menu .megamenu ul > li:hover:before,
.primary-menu--dark .primary-menu-menu ul.sub-menu li:hover:before,
.primary-menu--dark .primary-menu-menu > li.menu-item-has-mega-menu .megamenu ul > li:hover:before,
.w-category .category-list li:hover a:before,
.w-category .category-list li:hover .cat-count,
.w-tags a:hover,
.tab-control a:after,
.btn--primary,
.woocommerce .product-item a.added_to_cart,
.cart-main .actions .coupon .btn-medium.btn--primary,
.woocommerce .checkout_coupon.coupon input.btn--primary,
.woocommerce-checkout-review-order-table .cart_item.total {

  background-color: $primary-color;
}

.pricing-tables--item-with-thumb:hover,
.accordion-panel.active,
.typeahead__container input:focus,
.search-full-screen .search-standard input[type="search"]:focus,
.w-tags a:hover {

  border-color: $primary-color;
}

.choose-item.bg-primary-color:after {
  border-left-color: $primary-color;
}

.choose-item.bg-primary-color::after {
  border-right-color: $primary-color;
}

.primary-menu-menu ul.sub-menu,
.primary-menu-menu ul.sub-menu li ul.sub-menu,
.primary-menu-menu > li > .megamenu {

  border-top-color: $primary-color;
}



/*------------- #SECONDARY-COLOR --------------*/


input, textarea, select, .nice-select,
.c-secondary,
.counter-item-colored .counter-title,
.position-item,
.pricing-tables-item-solid:hover .rate,
.pricing-tables-item-solid:hover .period,
.crumina-case-item.bg-light .case-item-content .title,
.accordion-heading .title,
.post__date .month,
.post-additional-info a,
.post-standard-details:hover .post__title,
.tags-inline li:first-child,
.blog-details-author .author-name,
.comments__article .comments__header .comments__author,
.comments__author-review,
.comments__author-review a,
.submit-block .submit-block-text,
.skills-item-title,
.course-features-list .feature-item,
.search--white .typeahead__container input:focus,
.search--white .search-full-screen .search-standard input[type="search"]:focus,
.search--white .typeahead__list > li:hover > a,
.counting-footer .author-prof,
.search-standard input[type="search"]:focus,
.search-standard .typeahead__list > li:hover > a,
a,
.list,
.first-letter--dark span:first-of-type,
.logo-title,
.top-bar,
.w-contacts--style2 .info,
.location-details .contacts-text {

  color: $secondary-color;
}

.selection--gray::-moz-selection {
  background-color: $secondary-color;
}

.selection--gray::selection {
  background-color: $secondary-color;
}

.c-secondary {

  fill: $secondary-color;
}

.btn--secondary,
.bg-secondary-color {

  background-color: $secondary-color;
}

