/*------------- #PIE-CHARTS --------------*/

.chart-js {
  canvas {
    margin-bottom: 60px;
    max-width: 100%;
  }

  .points {
    padding-left: 50px;
    @media (max-width: 1024px) {
      padding-left: 0;
    }
    .points-item {
      align-items: center;
      margin-bottom: 20px;
    }
    .points-item-count {
      font-size: 14px;
      color: $heading-color;
      display: inline-block;
    }
    .point-sircle {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border-color: transparent;
      margin-right: 20px;
      float: left;
    }
  }
}
