/*------------- #FORMS --------------*/



input, textarea, select, .nice-select {
  padding: 13px 40px;
  border: 1px solid transparent;
  transition: all .3s ease;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 50px;
  background-color: $white-color;
  box-shadow: 0 0 30px 0 rgba(18, 25, 33, 0.15);
  width: 100%;
  outline: none;

  &:focus {
	-webkit-box-shadow: 5px 0 40px 0 rgba(0, 88, 171, 0.25);
	box-shadow: 5px 0 40px 0 rgba(0, 88, 171, 0.25);
  }
}

::-webkit-input-placeholder {color:#839dbc;}
::-moz-placeholder          {color:#839dbc;}/* Firefox 19+ */
:-moz-placeholder           {color:#839dbc;}/* Firefox 18- */
:-ms-input-placeholder      {color:#839dbc;}

textarea {
  min-height: 200px;
  border-radius: 30px;
}

.with-icon {
  position: relative;

  input, textarea, select {
	padding-left: 70px;
  }

  .utouch-icon {
	position: absolute;
	left: 20px;
	top: 18px;
	height: 16px;
	fill: $icon-color;
	border-right: 1px solid $border-color;
	padding-right: 17px;
	z-index: 1;
	transition: all .3s ease;
  }

  &.icon-right {

	input, textarea, select {
	  padding-left: 40px;
	  padding-right: 70px;
	}

	.utouch-icon {
	  left: auto;
	  right: 20px;
	  padding-right: 0;
	  border-right: none;
	}
  }
}

.form-inline {
  position: relative;

  input {
	padding: 17px 200px 16px 40px;
	margin-bottom: 0;
	-webkit-box-shadow: 0 0 30px 0 rgba(18,25,33,.15) !important;
	box-shadow: 0 0 30px 0 rgba(18,25,33,.15) !important;
	-webkit-appearance: none;
  }

  .btn {
	position: absolute;
	right: 5px;
	top: 5px;
  }
}


.items-with-border {

  input, textarea, select, .nice-select {
	border: 2px solid #d9e4ef;
	background-color: transparent;
	box-shadow: none;

	&:focus {
	  box-shadow: 5px 0 30px 0 rgba(18, 25, 33, 0.1);
	  border-color: transparent;
	}
  }
}

.contact-form {
  .btn {
	margin-top: 5px;
  }
}

.post-password-form {
  &.form-inline {
	margin-top: 20px;

	input {
	  box-shadow: none !important;
	  border: 1px solid $border-color;
	}
  }
}

.logged-in-as {
  & > *:last-child {
	float: right;
	color: $red;
  }
}

.form-builder-item {
  margin-bottom: 20px;

  [type="checkbox"], [type="radio"] {
	width: auto;
  }

  label {
	margin-bottom: 10px;
	font-weight: 700;
	color: #273f5b;
	display: inline-block;

	sup {
	  color: red;
	  font-weight: 700;
	  border: 0;
	}
  }

  input[type="text"],
  textarea {
	line-height: 1.5;
	box-shadow: none;
	border: 2px solid #dbe3ec;
  }

  input[type="text"]:focus,
  textarea:focus {
	border-color: transparent;
	box-shadow: 5px 0 40px 0 rgba(0, 88, 171, 0.25);
  }

  .custom-radio,
  .custom-checkbox {
	label {
	  padding-left: 10px;
	}
  }

  .field-columns-0 {
	.options {
	  display: inline-block;

	  & + .options {
		margin-left: 15px;
	  }
	}
  }

  .field-columns-2 {
	.field-column {
	  width: 50%;
	  display: inline-block;
	}
  }

  .field-columns-3 {
	.field-column {
	  width: 33.33%;
	  display: inline-block;
	}
  }

  .field-columns-4 {
	.field-column {
	  width: 25%;
	  display: inline-block;
	}
  }
}


/*================= Responsive Mode ============*/


@media (max-width: 768px) {
  .form-inline .btn {
	position: relative;
	right: auto;
	top: auto;
	margin-top: 20px;
  }

  .form-inline input {
	padding-right: 40px;
  }

  .logged-in-as > :last-child {
	float: none;
  }
}