/*------------- #MODULE-IMG--------------*/



.row-content-bottom {
  display: flex;
  align-items: flex-end;
}

.img-bottom {
  display: inline-block;
  vertical-align: bottom;
}

/*================= Responsive Mode ============*/

@media (max-width: 1199px) {
  .row-content-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1024px) {
  .row-content-bottom {
    display: block;
  }
}