/*------------- #PAGINATION --------------*/



.swiper-pagination {
  position: absolute;
  transition: all .3s ease;
  align-items: center;
  z-index: 5;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);

  .swiper-pagination-bullet {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #a1b7d2;
	margin: auto 5px;
	border-radius: 50%;
	cursor: pointer;
	transition: all .3s ease;

	&.swiper-pagination-bullet-active {
	  width: 20px;
	  transition: all .3s ease;
	  border-radius: 10px;
	}
  }

  &.top-right {
	left: auto;
	bottom: auto;
	right: 0;
	top: 0;
	transform: translate(0);
  }

  &.bottom-left {
	left: 0;
	bottom: 0;
	transform: translate(0) !important;
	top: auto;
  }

  &.right-bottom {
	right: 100px;
	bottom: -50px;
	top: auto;
	transform: translate(0);
  }

  &.pagination-white {
	.swiper-pagination-bullet {
	  background-color: $white-color;
	}
  }
}

.pagination-bottom {

  .swiper-container {
	padding-bottom: 80px;
  }
}
.pagination-vertical {
	padding-left: 100px;

	.swiper-pagination {
		display: block;
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translate(-50%, -50%);
		bottom: auto;

		.pagination-item, .swiper-pagination-bullet {
			display: block;
			margin: 9px auto;

			&.active,
			&.swiper-pagination-bullet-active {
              width: 10px;
              height: 20px;
              transition: all .3s ease;
              border-radius: 10px;
			}
		}
	}

	&.pagination-vertical-right {
		padding-left: 0;
		margin-left: 0;
		padding-right: 100px;
		margin-right: -100px;

		.swiper-pagination {
			left: auto;
			right: 10px;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
		}
	}
}

/*================= Responsive Mode ============*/


@media (max-width: 1024px) {
.swiper-pagination.bottom-left {
	bottom: 20px;
  }
}