/*------------- #SHOP-STYLES --------------*/

/*------------- #CART --------------*/

body.woocommerce-cart {
  .entry-header {
    text-align: center;
    margin-bottom: 60px
  }
}

.woocommerce .cart-main table .cart_item td {
  padding: 40px 0;
  overflow: hidden;
  border: none;

  &:first-child {
    padding-left: 60px;

    @media (max-width: 1024px) {
      padding-left: 20px;
    }
  }

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.cart-main .cart_item .product-quantity .quantity .quantity-minus,
.cart-main .cart_item .product-quantity .quantity .quantity-plus {
  line-height: 60px;
  font-size: 24px;
  font-weight: 700;
  box-shadow: none;
  cursor: pointer;
  color: #839dbc;
}

.content-main-sidebar .cart-main .cart_item .product-quantity .quantity .quantity-minus,
.content-main-sidebar .cart-main .cart_item .product-quantity .quantity .quantity-plus {
  display: none;
}

.content-main-sidebar .cart-main .cart_item .product-quantity .quantity .qty {
  float: none;
  margin: 0 10px;
}

.content-main-sidebar {

  .cart-main .actions .coupon {
    margin-bottom: 30px;
  }

  .cart-main .actions input.btn {
    float: left;
  }

  .woocommerce .checkout.woocommerce-checkout #customer_details .col-1,
  .woocommerce .checkout.woocommerce-checkout #customer_details .col-2 {
    width: 100%;
  }

  .products ul li,
  ul.products li {

    @media (max-width: 1024px) {
      width: 50%;
    }
  }

  .woocommerce table.cart.shop_table img {
    @media (max-width: 1024px) {
      margin-right: 0;
    }
  }

  .cart-main .actions .coupon input {
    @media (max-width: 1024px) {
      padding: 0 20px;
      margin-bottom: 30px;
    }

    @media (max-width: 980px) {
      border-radius: 50px;
    }

    @media (max-width: 768px) {
      border-radius: 50px 0 0 50px;
    }

    @media (max-width: 460px) {
      border-radius: 50px;
    }
  }

  .cart-main .actions .coupon .btn-medium.btn--breez {
    @media (max-width: 768px) {
      border-radius: 0 50px 50px 0;
    }

    @media (max-width: 460px) {
      margin-bottom: 30px;
      border-radius: 50px;
    }
  }

  .cart-main .actions .coupon {
    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
  }

  .cart_item .product-remove .product-del {
    @media (max-width: 1024px) {
      padding: 0 20px;
    }
  }

  .woocommerce .cart-product-wrap-title-main tr > th {
    font-size: 13px;

    @media (max-width: 980px) {
      padding-left: 30px;
    }
  }

  .cart-total.cart_totals {
    @media (max-width: 980px) {
      width: 100%;
    }
  }

  .woocommerce .cart-main table.shop_table .actions {
    @media (max-width: 980px) {
      padding: 30px;
    }
  }

  .woocommerce .checkout_coupon.coupon input {
    @media (max-width: 980px) {
      margin-bottom: 30px;
    }
  }

  #billing_first_name_field,
  #billing_last_name_field,
  #billing_email_field,
  #billing_phone_field,
  #billing_state_field,
  #billing_postcode_field {
    @media (max-width: 980px) {
      width: 100%;
    }
  }

  .woocommerce-checkout #payment {
    padding: 30px;
  }

  .woocommerce table .cart_item td {
    @media (max-width: 980px) {
      padding-left: 30px;
    }
  }

  .woocommerce table.shop_table tfoot th {
    @media (max-width: 980px) {
      padding-left: 30px;
    }
  }

  .product-details .product-details-info {
    @media (max-width: 1024px) {
      width: 100%;
      margin-left: 0;
    }
  }

  .row.product-details > div {
    @media (max-width: 1024px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  .woocommerce table.shop_table tfoot td {
    @media (max-width: 360px) {
      padding-left: 0;
    }
  }
}

.product-details-info {
  .nice-select {
    margin-bottom: 0;
  }

  form.cart .variations label {
    line-height: 64px;
    vertical-align: middle;
    color: #273f5b;
  }
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  line-height: 1.5;
  box-shadow: none;
  border: 2px solid $border-color;

  &:focus {
    border-color: transparent;
    box-shadow: 5px 0 40px 0 rgba(0, 88, 171, 0.25);
  }
}

.woocommerce .cart-main table.shop_table .actions {
  padding: 40px 70px;
  background-color: #dfe8f2;
  border: none;

  @media (max-width: 980px) {
    padding: 30px;
  }
}

.woocommerce ul.products li.product a img {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto 1em;
  box-shadow: none;
  max-height: 300px;
}

.woocommerce ul.products li.product a.btn {
  max-width: 100%;
  text-transform: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;

  i {
    font-size: 20px;
    position: relative;
    top: 2px;
    margin-left: 10px;
  }
}

.cart-main .actions input.btn {
  width: auto;
}

.woocommerce table.shop_table.cart {
  margin: 0;
  border: none;
}

.woocommerce ul.products li.product .price {
  margin-bottom: 1.5em;
  font-size: 20px;
  font-weight: 700;
  color: $orange-light;
}

.woocommerce .cart-total table.shop_table {
  border: none;
}

.woocommerce .cart-total table.shop_table .order-total th,
.woocommerce .cart-total table.shop_table .order-total td {
  border: none;
}

.cart tbody .cart_item {
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 95%;
    height: 1px;
    background-color: $border-color;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
  }

  &:last-child:after {
    display: none;
  }
}

.woocommerce .cart-main tbody a.remove {
  color: #839dbc !important;

  &:hover {
    color: $white-color !important;
  }
}

.cart-main {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 0 60px rgba(0, 0, 0, .1);
  margin-bottom: 80px;

  tbody {
    background-color: $white-color;

    .cart_item {
      position: relative;
      transition: all .3s ease;

      &:after {
        content: '';
        display: block;
        width: 90%;
        height: 1px;
        background-color: $border-color;
        position: absolute;
        bottom: -1px;
        left: 50%;
        transition: all .3s ease;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
      }

      &:hover {
        box-shadow: 10px 0 30px rgba(0, 0, 0, .1);

        a.remove {
          color: red !important;

          &:hover {
            color: $white-color !important;
          }
        }

        &:after {
          opacity: 0;
        }

        .cart-product-title {
          color: $primary-color;
        }
      }
    }
  }

  .actions {
    padding: 40px 70px;
    background-color: #f1f3f3;
    overflow: hidden;

    @media (max-width: 570px) {
      padding: 30px;
    }

    .coupon {
      float: left;

      @media (max-width: 1024px) {
        margin-bottom: 30px;
      }

      @media (max-width: 480px) {
        margin-bottom: 0;
      }

      input {
        width: auto;
        border-radius: 50px 0 0 50px;
        background-color: $white-color;
        padding: 0 40px;
        float: left;
        margin-bottom: 0;
        line-height: 60px;

        @media (max-width: 480px) {
          border-radius: 50px;
          margin-bottom: 30px;
        }
      }

      .btn-medium {
        border-radius: 0 50px 50px 0;
        float: left;

        @media (max-width: 480px) {
          border-radius: 50px;
          margin-bottom: 30px;
        }
      }
    }

    .btn {
      float: right;

      @media (max-width: 1024px) {
        float: left;
      }
    }
  }
}

.cart_item {

  td {
    padding: 40px 0;
  }

  .cart-product-title {
    color: #273f5b;
    font-size: 22px;
  }

  .product-price {
    .price {
      font-size: 18px;
      color: #273f5b;
    }
  }

  .product-remove {

    .product-del {
      position: relative;
      font-size: 24px;
      cursor: pointer;
      padding: 0 55px;
      color: #ed1c24;
      display: block;

      @media (max-width: 768px) {
        padding: 0 15px;
      }

      @media (max-width: 460px) {
        padding: 0 7px;
        font-size: 14px;
      }
      &:hover {
        color: #ed1c24 !important;
        background: none;
      }
    }
  }

  .product-thumbnail {
    img {
      float: left;
      margin-right: 40px;
      width: auto;
      @media (max-width: 460px) {
        margin-right: 0;
      }
    }
  }
  .cart-product-content {
    text-align: left;

    .cart-author {
      margin-bottom: 5px;
    }
  }

  .product-quantity {
    .quantity {
      overflow: hidden;
      box-shadow: 0 1px 10px rgba(18, 25, 33, 0.1);
      display: inline-block;
      border-radius: 50px;

      @media (max-width: 768px) {
        float: right;
      }

      .quantity-minus {
        display: block;
        float: left;
        padding-left: 28px;
        transition: all .3s ease;
        box-shadow: none;
        background-color: transparent;

        @media (max-width: 980px) {
          font-size: 20px;
          padding-left: 10px;
        }

        @media (max-width: 480px) {
          font-size: 14px;
        }

        &:hover {
          color: $primary-color;
        }
      }

      input {
        max-width: 70px;
        float: left;
        background-color: transparent;
        padding: 0;
        font-size: 16px;
        text-align: center;
        border-radius: 0;
        margin-bottom: 0;
        line-height: 60px;
        width: auto;
        box-shadow: none;
        border: none;

        @media (max-width: 980px) {
          font-size: 18px;
          max-width: 40px;
        }

        @media (max-width: 480px) {
          font-size: 14px;
          max-width: 30px;
        }
      }

      .quantity-plus {
        display: block;
        float: left;
        padding-right: 28px;
        background-color: transparent;
        font-size: 40px;
        color: #cfcfcf;
        transition: all .3s ease;

        @media (max-width: 980px) {
          font-size: 20px;
          padding-right: 10px;
        }

        @media (max-width: 480px) {
          font-size: 14px;
        }

        &:hover {
          color: $primary-color;
        }
      }
    }

  }

  .product-subtotal {
    padding-right: 45px;

    @media (max-width: 570px) {
      padding-right: 10px;
    }

    .total {
      color: #f89101;
      font-size: 18px;
    }
  }

}

.woocommerce .cart-product-wrap-title-main {
  tr > th {
    color: $white-color;
    font-size: 16px;
    text-transform: uppercase;
    background-color: $black;
    padding: 30px 0;
    text-align: left;
    border: none;

    @media (max-width: 460px) {
      font-size: 12px;
    }
  }
}

.cart-total {
  text-align: center;

  .cart-total-title {
    font-size: 38px;
    margin-bottom: 30px;
    color: #273f5b;

    @media (max-width: 768px) {
      font-size: 22px;
    }
  }

  .cart-total-subtotal {
    margin-bottom: 5px;
  }

  .cart-total-total {
    margin-bottom: 40px;

    .price {
      color: #f26522;
    }
  }

  .btn-medium {
    width: 100%;
  }
}

.woocommerce .cart-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 38px;
  color: #273f5b;

  @media (max-width: 768px) {
    font-size: 22px;
  }
}

.cart-total.cart_totals {
  width: 50%;
  float: none;
  clear: both;
  overflow: hidden;
  padding: 40px 0;
  margin: 0 auto;
}

.cart-collaterals {
  overflow: hidden;
}

.woocommerce .cart-total table.shop_table .order-total td,
.woocommerce table.shop_table tbody:first-child tr:first-child td {
  text-align: right;
  font-size: 22px;
  width: auto;
  color: #273f5b;
  padding: 12px 0;

  @media (max-width: 640px) {
    font-size: 18px;
  }
}

.woocommerce .checkout_coupon.coupon input {
  margin-bottom: 0;
  margin-right: 30px;
  width: auto;
  border: 2px solid $border-color;
  box-shadow: none;

  &:focus {
    border-color: transparent;
    box-shadow: 5px 0 40px 0 rgba(0, 88, 171, 0.25);
  }

  &.btn--primary {
    border: none;
  }

  @media (max-width: 460px) {
    margin-bottom: 30px;
  }

  @media (max-width: 360px) {
    width: 100%;
  }

  &.btn--breez {
    margin-right: 0;

    @media (max-width: 800px) {
      margin-bottom: 0;
    }
  }
}

.woocommerce .contact-form form.login.shop-user-form-return input {
  border: 2px solid $border-color;
  width: 100%;
  box-shadow: none;

  &:focus {
    border-color: transparent;
    box-shadow: 5px 0 40px 0 rgba(0, 88, 171, 0.25);
  }

  &.btn--secondary {
    background-color: #273f5b;
    box-shadow: none;
    border: none;
  }

  &.btn {
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.woocommerce table.shop_table tbody:first-child tr:first-child th,
.woocommerce .cart-total table.shop_table .order-total th {
  font-size: 22px;
  width: auto;
  color: #273f5b;
  padding: 12px 0;
}

.cross-sells .crumina-heading {
  margin-bottom: 40px;
}

.woocommerce .cart-total table.shop_table .order-total td {
  color: #f89101;
}

.woocommerce .showcoupon,
.woocommerce .showlogin {
  margin-left: 30px;

  @media (max-width: 1024px) {
    display: block;
    margin-left: 0;
  }
}

.woocommerce .item-title {
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background-color: $blue-lighteen;
  font-size: 20px;
  color: #273f5b;
}

.woocommerce .checkout_coupon.coupon,
.woocommerce .contact-form form.login.shop-user-form-return {
  border: none;
  box-shadow: 5px 0 30px 0 rgba(200, 219, 239, 0.4);
  padding: 60px;
}

.woocommerce .checkout.woocommerce-checkout #customer_details {
  overflow: hidden;
  margin: 0 -15px;

  .col-1, .col-2 {
    width: 50%;
    float: left;
    padding: 15px;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}

.woocommerce-additional-fields {
  h3 {
    color: #273f5b;
  }
}

.woocommerce h3#order_review_heading {
  color: #273f5b;
}

.woocommerce .woocommerce-shipping-fields,
.woocommerce .woocommerce-billing-fields {
  h3 {
    margin-bottom: 40px;
    color: #273f5b;
  }

  p {
    margin-bottom: 30px;
  }

  textarea:focus {
    background-color: #fff;
    box-shadow: 17px 0 60px #d3dcdc;
  }
}

.nice-select.country_to_state.country_select {
  display: none;
}

#billing_first_name_field,
#billing_last_name_field,
#billing_phone_field,
#billing_state_field,
#billing_postcode_field,
#billing_city_field {
  width: 50%;
  float: left;

  @media (max-width: 768px) {
    width: 100%;
    padding: 0;
    float: none;
  }

  &.form-row-first {
    padding-right: 15px;

    @media (max-width: 1024px) {
      padding-right: 0;
    }
  }

  &.form-row-last {
    padding-left: 15px;

    @media (max-width: 768px) {
      padding-right: 0;
    }
  }
}

#billing_state_field,
#billing_postcode_field,
#billing_city_field {
  padding-right: 15px;
}

.select2-container.country_to_state.country_select .select2-choice,
.select2-container.state_select .select2-choice {
  padding: 13px 40px;
  border-color: transparent;
  transition: all .3s ease;
  font-size: 16px;
  border-radius: 50px;
  background-color: #f7f9f9;
}

.select2-container .select2-choice .select2-arrow {
  right: 20px;
}

.select2-drop-active {
  border: none;
}

.woocommerce table .cart_item td,
.woocommerce table .cart_item th {
  padding: 40px 0 40px 100px;
  margin: 0;
  font-size: 19px;
  font-weight: 400 !important;
  color: #2f2c2c;
  font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: none;

  @media (max-width: 800px) {
    padding-left: 20px;
    font-size: 18px;
  }

  @media (max-width: 570px) {
    font-size: 16px;
  }
}

.woocommerce table .cart_item td.product-total .woocommerce-Price-amount.amount {
  color: #f89101;
  font-size: 18px;
}

.woocommerce-checkout .woocommerce-checkout-review-order {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 15px 0 65px rgba(0, 0, 0, 0.3);
  margin-bottom: 80px;
  margin-top: 40px;

  #payment .form-row.place-order {
    margin: 0;
    overflow: hidden;
    padding: 30px 0 0;
  }

  strong {
    font-weight: normal;
  }
}

.woocommerce-checkout #payment {
  ul.payment_methods {
    padding: 60px;
    background-color: $blue-lighteen;
    border-bottom: none;
  }
}

.woocommerce-checkout .woocommerce-checkout-review-order #payment .form-row.place-order {
  padding: 40px 60px;
  background-color: $white-color;
}

.woocommerce-checkout-review-order-table .cart_item.total {
  th, td {
    color: #fff;
    font-weight: 700!important;
    text-transform: uppercase;
  }
}

.woocommerce-checkout #payment ul.payment_methods li {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #2f2c2c;
  font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, sans-serif;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.woocommerce-checkout #payment ul.payment_methods li input {
  width: auto;

  &:focus {
    box-shadow: none;
  }
}

.woocommerce-checkout #payment div.payment_box p {
  font-size: 14px;
}

.woocommerce table.cart.shop_table img {
  width: auto;
  max-width: 140px;
}

.woocommerce-page table.cart .product-thumbnail {
  @media (max-width: 768px) {
    display: block;
  }
}

.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  font-size: 0.67em;

  @media (max-width: 360px) {
    float: none;
    display: inline-block;
  }
}

.woocommerce ul.products li.product {
  @media (max-width: 570px) {
    width: 100%;
  }
}

.woocommerce .cart-collaterals .cart-total.cart_totals.calculated_shipping {
  @media (max-width: 768px) {
    text-align: center;
  }
}

.woocommerce .cart-main .shop_table .coupon input.email {
  @media (max-width: 480px) {
    width: 100%;
  }
}

.woocommerce .cart-main .shop_table .coupon input.btn {
  @media (max-width: 480px) {
    width: auto;
  }
}

.woocommerce {

  .wc-bacs-bank-details-heading,
  .woocommerce-thankyou-order-received {
    margin-bottom: 30px;
  }

  table.shop_table tfoot th,
  table.shop_table tfoot td {
    font-weight: normal;
  }
}

.woocommerce .woocommerce-thankyou-order-details li {
  @media (max-width: 980px) {
    float: none;
    margin-bottom: 30px;
  }
}

/*------------- #Woocommerce --------------*/


.woocommerce .product.first {
  clear: both;
}

.woocommerce .products ul, .woocommerce ul.products {
  margin: 0 -20px;
}

.woocommerce #content .price {
  margin-bottom: 30px;
  font-size: 20px;

  ins {
    text-decoration: none;
  }

  del {
    font-size: 0.82em;
    color: #839dbc;
    text-decoration: line-through;
    margin-right: 5px;
    display: inline-block;
    opacity: 1;
  }
}

.woocommerce #content .product-details-info .price {
  font-size: 32px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 22px;
  }

  del {
    opacity: .6;
  }

}

.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
  margin: 0 0 1em;
  display: inline-block;
  font-size: 16px;

  @media (max-width: 640px) {
    display: block;
  }
}

.woocommerce-grid-control {
  text-align: center;
  margin-bottom: 30px;

  .woocommerce-result-count {
    margin-right: 60px;
    font-size: 16px;
    color: #839dbc;

    @media (max-width: 640px) {
      margin-right: 0;
    }
  }

  .woocommerce-ordering {
    min-width: 350px;

    @media (max-width: 480px) {
      min-width: unset;
    }

    .nice-select {
      font-weight: 700;
      color: #5e7896;

      &:after {
        border-bottom: 2px solid #5e7896;
        border-right: 2px solid #5e7896;
      }
    }
  }
}

.woocommerce ul.products li.product a .attachment-shop_catalog {
  margin-bottom: 40px;
}

.woocommerce.single #primary {
  .onsale {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-weight: 700;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 45px !important;
    left: 35px !important;
    right: auto !important;
    font-size: 14px;
    color: $white-color;
    border-radius: 100%;
    background-color: $green;
  }
}

.woocommerce ul.products li.product .onsale {
  top: 30px !important;
  left: 30px;
  right: auto !important;
  background-color: $red;
  font-size: 14px;
  text-transform: uppercase;
  min-height: 55px;
  min-width: 55px;
  z-index: 8;
}

.woocommerce .product-item {
  text-align: center;
  background-color: #f2f7fd;
  padding: 50px;
  display: block;

  @media (max-width: 1024px) {
    padding: 30px;
  }

  @media (max-width: 768px) {
    margin: 0 15px 30px;
  }

  .product-item-info {
    .product-category {
      font-size: 14px;
      margin-bottom: 20px;

      a {
        color: #839dbc;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .product-title {
      margin-bottom: 20px;
    }
  }

  a.added_to_cart {
    padding: 18px 50px;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    white-space: normal;
    font-weight: 700;

    &:after {
      font-family: 'seotheme' !important;
      margin-left: 10px;
      font-size: 12px;
      display: inline;
      content: "\e908";
    }
  }
  .add_to_cart_button.added {
    display: none;
  }

  &:hover {
    background-color: $white-color;
    box-shadow: 0 10px 50px 0 rgba(200, 219, 239, 0.3);
  }
}

.woocommerce div.product .stock {
  text-indent: 50px;
}

.woocommerce-Reviews-title {
  margin-bottom: 40px;
}

.woocommerce .comments__body .star-rating {
  float: none;
  margin-bottom: 10px;
}

.woocommerce .star-rating span {
  color: #fcd846;
}

.woocommerce .woocommerce-form.woocommerce-form-login {
  border: none;
  padding: 0;

  input.button {
    display: block;
    width: auto;
    padding: 18px 50px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 30px 0;
  }

  input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 10px;
  }

  .form-row .woocommerce-form__label-for-checkbox {
    padding-left: 0;
  }
}

/*------------- #SHOP-USER-FORM --------------*/

.shop-user-form {
  .item-title {
    font-size: 30px;
    padding-bottom: 40px;
    display: block;
    position: relative;

    @media (max-width: 640px) {
      font-size: 20px;
    }

    &:after {
      content: '';
      display: block;
      border: 30px solid transparent;
      border-bottom: 20px solid $border-color;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
    }

    &.active {

      &:after {
        opacity: 1;
      }
    }
  }

  input {
    background-color: $white-color;
    margin-bottom: 30px;
  }

  .helped {
    padding: 20px 0;
    display: block;

    &:hover {
      color: $primary-color;
    }
  }

  .login-btn-wrap {
    overflow: hidden;
    padding-bottom: 20px;
    display: table;

    .btn {
      float: left;
      margin-right: 20px;

      @media (max-width: 360px) {
        margin-bottom: 30px;
      }
    }

    .remember-wrap {
      display: table-cell;
      vertical-align: middle;

      @media (max-width: 320px) {
        display: block;
      }

      .checkbox {
        position: relative;

        input[type=checkbox] {
          display: none;
        }

        label {
          padding-left: 30px;
          color: $heading-color;
        }

        label:before {
          content: "";
          display: inline-block;
          width: 14px;
          height: 14px;
          position: absolute;
          left: 0;
          bottom: 5px;
          border-radius: 3px;
          border: none;
          background-color: $primary-color;
        }

        input[type=checkbox]:checked + label:before {
          content: "\2714";
          font-size: 14px;
          color: $white-color;
          text-align: center;
          line-height: 14px;
        }
      }
    }
  }

  .shop-user-form-return {
    p {
      margin-bottom: 30px;
    }
  }
}

.billing-details {
  .billing-details-title {
    margin-bottom: 60px;
  }
}

/*------------- #PRODUCT-DETAILS --------------*/

.product-details {

  @media (max-width: 570px) {
    overflow: hidden;
  }

  .product-details-thumb {
    padding: 80px 100px 130px;
    position: relative;
    background-color: $border-color;
    box-shadow: 0 25px 40px rgba(0, 0, 0, .3);
    text-align: center;
    margin-bottom: 30px;

    @media (max-width: 980px) {
      padding: 30px;
    }

    .product-details-img-wrap {
      position: relative;
      max-width: 271px;
      margin: 0 auto;

      .sale {
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        position: absolute;
        top: -25px;
        left: -43px;
        background-color: #f15b26;
        font-size: 18px;
        color: $white-color;
        border-radius: 100%;
      }
    }

    .pagination, .swiper-pagination {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);

      @media (max-width: 980px) {
        bottom: 10px;
      }

      .swiper-pagination-bullet {
        background-color: #d7d7d7;

        &.swiper-pagination-bullet-active {
          background-color: transparent;
          border: 2px solid $primary-color;
        }
      }
    }
  }

  .swiper-container {
    padding-bottom: 80px;
    margin-bottom: -80px;
    overflow: visible;

    .swiper-slide {
      opacity: 0 !important;

      &.swiper-slide-active {
        opacity: 1 !important;

        @media (max-width: 570px) {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0) !important;
          display: block;
        }
      }
    }
  }

  .product-details-info {
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;

    @media (max-width: 570px) {
      padding-top: 40px;
    }

    .product-details-info-price {
      color: #f26522;
      font-size: 24px;
      margin-bottom: 15px;

      .del {
        color: #cccccc;
        font-size: 18px;
        margin-right: 15px;
        text-decoration: line-through;
      }
    }

    .product-details-info-title {
      margin-bottom: 20px;
    }

    .product-details-info-ratings {
      margin-bottom: 35px;

      .ratings {
        display: inline-block;
        margin-right: 20px;
        color: #cccccc;

        .fa-star {
          color: #fcd846;
        }

      }

      .reviews {
        display: inline-block;
        font-size: 16px;
        color: $primary-color;
      }
    }

    .product-details-info-text {
      margin-bottom: 40px;
    }

    .quantity {
      margin-right: 30px !important;
      float: left;
      overflow: hidden;
      box-shadow: 0 1px 10px rgba(18, 25, 33, 0.1);
      display: inline-block;
      border-radius: 50px;

      @media (max-width: 980px) {
        margin-bottom: 30px;
      }

      .quantity-minus {
        line-height: 60px;
        font-size: 24px;
        font-weight: 700;
        box-shadow: none;
        cursor: pointer;
        color: #839dbc;
        padding-left: 28px;

        &:hover {
          color: $primary-color;
        }
      }

      input {
        max-width: 70px;
        float: left;
        background-color: transparent;
        padding: 0;
        font-size: 16px;
        text-align: center;
        border-radius: 0;
        margin-bottom: 0;
        line-height: 60px;
        width: auto;
        box-shadow: none;
        border: none;
      }

      .quantity-plus {
        line-height: 60px;
        font-size: 24px;
        font-weight: 700;
        box-shadow: none;
        cursor: pointer;
        color: #839dbc;
        padding-right: 28px;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .btn i {
      font-size: 18px;
      margin-left: 10px;
    }
  }

  .product-details-add-info {
    .author {
      font-size: 16px;
      color: $heading-color;
      margin-bottom: 15px;

      .author-name {
        color: $primary-color;
      }
    }

    .tags {
      font-size: 16px;
      color: $heading-color;
      margin-bottom: 15px;

      .tags-item {
        color: $body-font-color;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .socials {
      font-size: 16px;
      color: $heading-color;
      margin-bottom: 15px;

      .social__item {
        i {
          font-size: 20px;
          color: #d7d7d7;
          transition: all .3s ease;
        }

        &:hover {
          i {
            color: #08acee;
          }
        }
      }

      .social__item:first-child {
        margin-left: 15px;
      }
    }
  }
}

.product-description {
  position: relative;
  padding: 100px 0;
  background-color: $blue-lighteen;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  .tab-content > .tab-pane {
    display: none;

    &.active {
      display: block;
    }
  }

  .product-description-control {
    margin-bottom: 50px;
    float: left;
    padding: 0;

    li {
      display: inline-block;

      .control-item {
        padding: 15px 0;
        text-align: left;
        position: relative;
        font-size: 18px;
        font-weight: 700;
        float: left;

        &:before {
          content: '';
          display: block;
          width: 60%;
          height: 4px;
          border-radius: 5px;
          background-color: #839dbc;
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 1;
          transition: all .3s ease;
        }

        &.reviews {
          border-right: none;
          border-radius: 0 50px 0 0;
        }

      }

      &.active {

        .control-item {
          color: $primary-color;

          &:before {
            width: 100%;
            background-color: $primary-color;
          }
        }

      }

      & + li {
        margin-left: 40px;
      }

    }

  }

  .product-description-title {
    font-size: 40px;
    color: #273f5b;
    margin-bottom: 40px;

    @media (max-width: 1024px) {
      font-size: 26px;
    }
  }

  .comments__list-review {
    .comments__item-review {
      border-bottom: none;

      .comment-content p {
        margin-bottom: 30px;
      }
    }
  }

  .add-review {
    .your-rating {
      padding-left: 40px;
      font-size: 16px;

      .ratings {
        display: inline-block;
        margin-left: 50px;
        color: #ccc;
        margin-bottom: 30px;

        .fa-star {
          color: #fcd846;
        }
      }
    }

    .contact-form {
      padding-bottom: 20px;

      input, textarea {
        background-color: $white-color;
      }

      textarea {
        min-height: 230px;
      }
    }
  }

  .product-description-text {
    margin-bottom: 30px;
  }

  .tab-content {
    ul {
      margin: 1.5em 0;
      list-style: none;
      padding-left: 20px;

      li {
        margin-bottom: 18px;
        font-size: 18px;
        transition: all .3s ease;
        position: relative;
        padding-left: 40px;

        &:before {
          content: "\e908";
          position: absolute;
          left: 0;
          top: 5px;
          transition: all .3s ease;
          font-family: 'seotheme';
          counter-increment: none;
          font-size: 12px;
        }

      }

    }
  }

}

.woocommerce table.shop_attributes td {
  padding: 8px;
}

.logged-in-as a + a {
  margin-left: 20px;
}

.comment-form-rating {
  margin-bottom: 30px;
}

.product-description .product-description-control {
  margin-bottom: 50px;
  float: left;
  padding: 0;
  width: 100%;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.product-description .product-description-control li.active .control-item:before {
  opacity: 1
}

.product-description .product-description-control li:first-child {
  margin-left: 0
}

.product-description .product-description-control li:before {
  display: none
}

@media (max-width: 1000px) {
  .product-description .product-description-control li .control-item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .product-description .product-description-control li .control-item {
    font-size: 14px;
  }
}

.project-meta {
  margin-bottom: 30px;

  .post__date + .sl-wrapper {
    margin-left: 20px;
  }

  + .crumina-heading {
    margin-bottom: 30px;
  }

  .sl-wrapper .count-likes {
    font-family: $body-font-family;
  }
  .likes {
    display: inline-block;
    color: #ff454f;
    margin-bottom: -10px;

    .count-likes {
      font-size: 18px;
      float: left;
    }

    i {
      font-size: 26px;
      float: left;
      margin-right: 5px;
    }

  }
}

.challenge-solutions {
  .challenge-solutions-thumb {
    border: 2px solid $border-color;
    border-radius: 10px;
    padding: 30px;

    img {
      margin-bottom: 30px;
    }
    .text {
      padding-left: 30px;
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .challenge-solutions-content {
    .crumina-heading {
      &:first-child {
        margin-bottom: 60px;
      }
    }
  }
}

.product-description-ver3 {
  position: relative;

  .product-description-ver3-thumb {
    width: auto;
    margin: 0 auto;
    position: relative;
    padding: 60px 0 90px 0;

    @media (max-width: 768px) {
      padding-bottom: 30px;
    }
  }
}

.half-height-bg {
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  bottom: 0;

}

.image-shadow-rounded {
  border-radius: 10px;
  border-color: transparent;
  box-shadow: 24px 50px 60px rgba(0, 0, 0, 0.3);
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  border-radius: 2px;
  box-shadow: 0 1px 10px rgba(18, 25, 33, 0.1);
  background-color: $blue-lighteen;
}

.select2-search input {
  border-radius: 0;
}

/*------------- #INTERESTED-PRODUCTS --------------*/

.interested-products {
  text-align: center;

  .products > h2 {
    padding: 1.5em;
    color: #273f5b;
  }

  .crumina-heading {
    margin-bottom: 50px;
  }

  .books-item {
    margin-bottom: 60px;
  }
}

/*/ Effect 2: Move Up /*/
#items-grid > div.animate {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
  0% {
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*------------- #POPUP-CART --------------*/

.cart-contents {
  display: inline-block;
}

.cart-popup-wrap {

  position: absolute;
  top: 39px;
  right: -50px;
  width: 330px;
  border-radius: 5px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  display: none;
  z-index: 10;

  @media (max-width: 980px) {
    right: auto;
    left: 0;
  }

  @media (max-width: 800px) {
    right: 0;
    left: auto;
  }

  @media (max-width: 570px) {
    right: 0;
  }

  @media (max-width: 320px) {
    right: -60px;
  }

  .popup-cart {
    padding: 40px;
    background-color: #fff;

    .title-cart {
      font-size: 22px;
    }

    .subtitle {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .btn {
      text-transform: capitalize;
      width: 100%;
      text-align: center;
    }

    .cart-product {
      .cart-product__item {
        display: table;
        padding: 20px 0;
        border-bottom: 2px solid $border-color;

        &:last-child {
          border: none;
        }

        .product-del {
          width: 25px;
          height: 25px;
          position: relative;
          font-size: 25px;
          z-index: 2;
          font-weight: 100;
          cursor: pointer;
          display: table-cell;
          vertical-align: middle;
        }

        img {
          float: left;
          padding-right: 20px;
          display: table-cell;
          vertical-align: middle;
          width: 80px;
        }

        .cart-product-content {
          display: table-cell;
          vertical-align: middle;

          .cart-product-title {
            font-size: 16px;
            line-height: 1;
          }

          .price {
            font-size: 14px;
          }
        }
      }
    }

  }

  .cart-total {
    padding: 30px 40px 40px;
    background-color: $border-color;
    overflow: hidden;
    width: 100%;

    .cart-total-text {
      margin-bottom: 30px;
      overflow: hidden;

      .title {
        text-transform: uppercase;
        font-size: 16px;
        float: left;
      }

      .total-price {
        font-size: 18px;
        float: right;
      }
    }

    .btn {
      width: 50%;
      border-radius: 50px 0 0 50px;
      float: left;

      &:last-child {
        border-radius: 0 50px 50px 0;
      }

      + .btn {
        margin-left: 0;
      }
    }
  }

  &.cart-with-product {
    width: 370px;

    @media (max-width: 360px) {
      width: 330px;
    }

    .popup-cart {
      padding: 40px 40px 0 40px;
    }
  }
}

ul.nav-add {
  li.cart{
    margin-right: 10px;
    position: relative;
  }
  .seoicon-basket{
    font-size: 28px;
    color: #6987ab;
    line-height: 1;
  }

  .cart-count{
    color: $white-color;
    background-color: $primary-color;
    display: block;
    position: absolute;
    left: -6px;
    top: 4px;
    width: 16px;
    height: 16px;
    line-height: 14px;
    font-size: 10px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50%;
  }
}


/*------------- #WOOCOMMERCE --------------*/

.woocommerce-checkout-review-order-table .cart-product-wrap-title-main tr > th {
  padding: 30px 0 30px 100px;
}

@media (max-width: 768px) {
  .woocommerce-checkout-review-order-table .cart-product-wrap-title-main tr > th {
    padding-left: 30px;
  }
}

.shop_table .variation {
  margin: 5px 0;
}

.variation-Color {
  display: inline-block;
}

.woocommerce form .form-row label {
  padding-left: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #273f5b;
  display: inline-block;
}

.woocommerce div.product div.images img{
  width: auto;
}

.woocommerce form .form-row .input-checkbox {
  width: auto;
}

.woocommerce .select2.select2-container {
  background-color: transparent;
  border: 2px solid $border-color;
  padding: 13px 40px;
}

.woocommerce-checkout table.cart .cart_item .product-thumbnail {
  font-size: 18px;
  color: #273f5b;
  font-weight: 700 !important;
}

.woocommerce-checkout table.cart .cart_item .product-quantity {
  font-weight: 300;
  font-size: 18px;
  color: #273f5b;
}

.woocommerce-checkout-review-order-table .cart_item.subtotal {
  background-color: $blue-lighteen;

  th, td {
    border: none;
  }
}

.woocommerce-checkout-review-order-table .cart_item.subtotal td {
  font-weight: 300 !important;
}

.woocommerce-checkout-review-order-table .cart_item.subtotal th {
  text-transform: uppercase;
  color: #273f5b;
  font-weight: 700 !important;
}

.woocommerce div.product .product_title {
  color: #273f5b;
  font-size: 38px;

  @media (max-width: 768px) {
    font-size: 22px;
  }
}

.woocommerce div.product p.price {
  font-size: 26px;
  font-weight: 700;
  color: #f89101;
}

.woocommerce .product-details .product-details-info {
  .star-rating {
    margin-right: 15px;
  }
}

.woocommerce div.product form.cart .reset_variations {
  font-weight: 700;
  float: right;
  margin-top: 10px;
}

.btn.full-width {
  width: 95%;
}

.product_meta {
  font-weight: 300;

  & > span {
    display: block;
    margin-bottom: 10px;
  }

  a {
    font-size: 16px;
    font-weight: 700;
    color: #4b5d73;

    &:hover {
      color: $primary-color;
    }
  }
}

.product-description {
  .comments, .commentlist {
    box-shadow: none;
  }
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: $green;
  color: $white-color;
  border-radius: 50px;
}

.woocommerce ul.products li.product .price ins {
  text-decoration: none;
}

.woocommerce ul.products li.product .price del {
  display: inline-block;
}

.woocommerce .woocommerce-variation {
  margin-bottom: 20px;
}

.woocommerce .cart-product-wrap-title-main tr > th {
  @media (max-width: 1024px) {
    font-size: 13px;
  }
}

.woocommerce-checkout #payment ul.payment_methods,
.woocommerce-checkout .woocommerce-checkout-review-order #payment .form-row.place-order {
  @media (max-width: 860px) {
    padding: 30px;
  }
}

.woocommerce form .form-row.woocommerce-validated .select2-container {
  @media (max-width: 1024px) {
    width: 100% !important;
  }
}

.cart-main tbody .cart_item .cart-product-content .cart-product-title {
  @media (max-width: 768px) {
    margin: 0;
  }
}

.woocommerce div.product form.cart div.quantity {
  margin-bottom: 30px;
}

.woocommerce table.shop_attributes td p {
  padding: 0;
}

.woocommerce div.product div.images .flex-control-thumbs {
  margin-top: 30px;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
  padding: 10px;
}

.woocommerce-product-gallery__wrapper {
  max-width: none;
}

.woocommerce-MyAccount-navigation ul li.is-active a:before {
  opacity: 1;
}

.woocommerce-MyAccount-navigation ul li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0f6";
  line-height: 1.618;
  margin-left: 0.5407911001em;
  width: 1.41575em;
  text-align: right;
  float: right;
  opacity: .25;
  transition: all .15s ease;
}

.woocommerce-MyAccount-navigation ul li a:hover:before {
  opacity: 1; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
  content: "\f0e4"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
  content: "\f291"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
  content: "\f1c6"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
  content: "\f015"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
  content: "\f09d"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
  content: "\f007"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
  content: "\f08b"; }

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
  content: "\f021"; }

.my_account_orders .button.view:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f06e";
  margin-left: 0.5407911001em; }

p.order-again .button:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f021";
  margin-left: 0.5407911001em; }

.woocommerce-MyAccount-downloads .button:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0ed";
  margin-left: 0.5407911001em; }

.woocommerce .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--contributions a:before,
.woocommerce-page .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--contributions a:before {
  content: "\f005"; }

.woocommerce-MyAccount-navigation ul li a{padding:.875em 0;display:block}

.woocommerce-MyAccount-navigation ul li {
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,.05);
  position: relative;
}

.woocommerce-MyAccount-navigation ul {
  margin-left: 0;
  border-top: 1px solid rgba(0,0,0,.05);
}

.woocommerce-MyAccount-navigation {
  width: 17.6470588235%;
  float: left;
  margin-right: 5.8823529412%;
}

.woocommerce-MyAccount-content {
  width: 76.4705882353%;
  float: right;
  margin-right: 0;

  fieldset {
  border: none;

    legend {
      font-size: 2rem;
      margin-top: 30px;
    }
  }
}


/*------------- #WOOCOMMERCE-Shortcodes --------------*/

.woocommerce {
  .quantity br,
  .coupon br,
  .btn br{
    display: none;
  }

  .woocommerce-MyAccount-content {
    fieldset {
      margin-bottom: 30px;
    }
  }

  .woocommerce-MyAccount-navigation {
    margin-bottom: 30px;
  }
}



/*================= Responsive Mode ============*/

@media (max-width: 1199px) {
  .edd_download {
    float: none !important;
  }
}

@media (max-width: 1024px) {
  ul.nav-add li.cart {
    margin-right: 5px;
  }
}