/*------------- #SOCIALS --------------*/



.socials {
  margin: 15px 0;

  li {
	display: inline-block;
	margin-right: 10px;

	&:last-child {
	  margin-right: 0;
	}
  }

  .utouch-icon {
	height: 15px;
	width: 15px;
	fill: $icon-color;
	display: inline-block;
	vertical-align: middle;
  }
}


.social__item {
  position: relative;
}

.socials--round {
  .social__item {
	width: 32px;
	height: 32px;
	line-height: 26px;
	text-align: center;
	border-radius: 100%;
	border: 2px solid #d8e1ec;
	fill: $icon-color;
	display: block;
	background-color: transparent;

	&:hover {
	  border-color: transparent;
	  box-shadow: 5px 0 10px 0 rgba(0, 131, 255, 0.3);

	  .utouch-icon {
		fill: $white-color;
	  }

	  &.rss {
		background-color: #f4b459;
	  }

	  &.mail {
		background:#996DD1;
	  }

	  &.pinterest {
		background:#cc2127;
	  }

	  &.googleplus {
		background:#dd4b39;
	  }

	  &.google {
		background:#dd4b39;
	  }

	  &.facebook {
		background:#3b5998;
	  }

	  &.twitter {
		background:#55acee;
	  }

	  &.amazon {
		background-color: #F69B06;
	  }

	  &.behance {
		background-color: #2D2D2D;
	  }

	  &.bing {
		background-color: #FFA616;
	  }

	  &.creative-market {
		background-color: #8DA741;
	  }

	  &.deviantart {
		background-color: #1B1B1B;
	  }

	  &.dribbble {
		background-color: #000000;
	  }

	  &.dropbox {
		background-color: #0BA4E0;
	  }

	  &.envato {
		background-color: #6D9C3E;
	  }

	  &.flickr {
		background-color: #26A9E1;
	  }

	  &.instagram {
		background-color: #E75351;
	  }

	  &.kickstarter {
		background-color: #14E06E;
	  }

	  &.linkedin {
		background-color: #4A8F9E;
	  }

	  &.medium {
		background-color: #00E56B;
	  }

	  &.periscope {
		background-color: #3FA4C4;
	  }

	  &.quora {
		background-color: #F85F62;
	  }

	  &.reddit {
		background-color: #F05825;
	  }

	  &.shutterstock {
		background-color: #008EC0;
	  }

	  &.skype {
		background-color: #00AAF1;
	  }

	  &.snapchat {
		background-color: #FFED45;
	  }

	  &.soundcloud {
		background-color: #FF3300;
	  }

	  &.spotify {
		background-color: #1ED760;
	  }

	  &.trello {
		background-color: #0079BF;
	  }

	  &.tumblr {
		background-color: #36465D;
	  }

	  &.vimeo {
		background-color: #1AB7EA;
	  }

	  &.vk {
		background-color: #6383A8;
	  }

	  &.whatsapp {
		background-color: #25D366;
	  }

	  &.wikipedia {
		background-color: #000000;
	  }

	  &.wordpress {
		background-color: #21759B;
	  }

	  &.youtube {
		background-color: #CD201F;
	  }
	}

  }

  .utouch-icon {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
}

.socials--colored {
  .social__item {
	border-color: transparent;

	&.rss {
	  background-color: #f4b459;
	}

	&.mail {
	  background:#996DD1;
	}

	&.pinterest {
	  background:#cc2127;
	}

	&.googleplus {
	  background:#dd4b39;
	}

	&.google {
	  background:#dd4b39;
	}

	&.facebook {
	  background:#3b5998;
	}

	&.twitter {
	  background:#55acee;
	}

	&.amazon {
	  background-color: #F69B06;
	}

	&.behance {
	  background-color: #2D2D2D;
	}

	&.bing {
	  background-color: #FFA616;
	}

	&.creative-market {
	  background-color: #8DA741;
	}

	&.deviantart {
	  background-color: #1B1B1B;
	}

	&.dribbble {
	  background-color: #000000;
	}

	&.dropbox {
	  background-color: #0BA4E0;
	}

	&.envato {
	  background-color: #6D9C3E;
	}

	&.flickr {
	  background-color: #26A9E1;
	}

	&.instagram {
	  background-color: #E75351;
	}

	&.kickstarter {
	  background-color: #14E06E;
	}

	&.linkedin {
	  background-color: #4A8F9E;
	}

	&.medium {
	  background-color: #00E56B;
	}

	&.periscope {
	  background-color: #3FA4C4;
	}

	&.quora {
	  background-color: #F85F62;
	}

	&.reddit {
	  background-color: #F05825;
	}

	&.shutterstock {
	  background-color: #008EC0;
	}

	&.skype {
	  background-color: #00AAF1;
	}

	&.snapchat {
	  background-color: #FFED45;
	}

	&.soundcloud {
	  background-color: #FF3300;
	}

	&.spotify {
	  background-color: #1ED760;
	}

	&.trello {
	  background-color: #0079BF;
	}

	&.tumblr {
	  background-color: #36465D;
	}

	&.vimeo {
	  background-color: #1AB7EA;
	}

	&.vk {
	  background-color: #6383A8;
	}

	&.whatsapp {
	  background-color: #25D366;
	}

	&.wikipedia {
	  background-color: #000000;
	}

	&.wordpress {
	  background-color: #21759B;
	}

	&.youtube {
	  background-color: #CD201F;
	}

	&:hover {
	  background-color: inherit;
	}

	.utouch-icon {
	  fill: $white-color;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
  }
}