/*------------- #FOOTER --------------*/



.footer {
  background-color: $black;
  color: $secondary-color;
  padding: 120px 0 0;
  position: relative;
  box-shadow: 10px 0 30px 0 rgba(18, 25, 33, 0.4);

  .widget-title {
    margin-bottom: 30px;
  }

  .w-contacts .btn {
    margin: 30px 0;
  }

  &.js-fixed-footer {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);

    @media (max-width: 768px) {
      position: relative;
    }
  }

  &.footer-empty{
    padding: 0;

    .sub-footer{
      margin-top: 6px;
    }
  }
}

.sub-footer {
  background-color: $white-color;
  padding: 35px 0;
  text-align: center;
  position: relative;
  margin-top: 120px;

  span {
    font-size: 14px;
    margin-bottom: 1px;
    color: $icon-color;
    display: block;
  }

  a {
    color: $primary-color;
    font-weight: $h-font-weight;
  }
}

#site-footer .widget .widget-title,
#site-footer a:not(.btn),
#site-footer a.social__item svg,
#site-footer .w-list ul.list,
#site-footer .widget_nav_menu ul.list {
  color: $white-color;
  float: $white-color;
}

.content-wrapper {
  position: relative;
  z-index: 2;
  background-color: #fff;
  -webkit-margin-bottom-collapse: separate;
}

#site-footer {
 a:not(.btn) {
    &:hover {
      color: $primary-color;
      fill: $primary-color;
    }
  }

  li.menu-item-has-children a:not(.btn) {
    &:hover {
      color: inherit;
    }
  }

 li.menu-item-has-children .menu-item:hover {

    & > a:not(.btn) {
      margin-left: 8px;
      color: $primary-color;
    }

    & > .utouch-icon {
      fill: $primary-color;
      opacity: 1;
    }
  }

  li.menu-item-has-children .menu-item.menu-item-has-children:hover {

    & > a:not(.btn) {
      margin-left: 0;
      color: inherit;
    }
  }

  li.menu-item-has-children {
    &:hover {

      a:not(.btn) {
        color: inherit;
      }

      .utouch-icon {
        fill: inherit;
        opacity: 0;
      }
    }
  }

  li:hover a:not(.btn) {
    color: $primary-color;
  }

  a.social__item {
    &:hover svg {
      fill: $primary-color;
    }
  }

  .sub-footer {
    a:not(.btn) {
      color: $primary-color;
    }
  }
}

.block-footer-height {
  position: relative;
  width: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 60px 0 0;
  }

  .sub-footer {
    margin-top: 60px;
  }
}