/* Widget Instagramm */


.w-instagramm {
  overflow: hidden;
}

.w-instagramm__a {
  float: left;
  text-align: center;
  position: relative;
}
.w-instagramm__a a {
  display: block;
}

.w-instagramm__a img {
  width: 100%;
  height: auto;
}
.w-instagramm-padding .w-instagramm__a {
  padding: 5px;
}

.w-instagramm-padding .w-instagramm__wrap {
  margin: 0 -5px;
}

.w-instagramm--1-col .w-instagramm__a {
  width: 100%;
}

.w-instagramm--2-col .w-instagramm__a {
  width: 50%;
}

.w-instagramm--3-col .w-instagramm__a {
  width: 33.33%;
}

.w-instagramm--4-col .w-instagramm__a {
  width: 25%;
}

.w-instagramm--5-col .w-instagramm__a {
  width: 20%;
}

.w-instagramm--6-col .w-instagramm__a {
  width: 16.66%;
}

.w-instagramm--7-col .w-instagramm__a {
  width: 14.28%;
}

.w-instagramm--8-col .w-instagramm__a {
  width: 12.5%;
}

.w-instagramm--9-col .w-instagramm__a {
  width: 11.11%;
}

.w-instagramm--10-col .w-instagramm__a {
  width: 10%;
}