/*------------- #W-LIST --------------*/



.w-list, .widget_nav_menu {

  .list {
	margin-left: 0;
	color: $body-font-color;

	li {
	  font-weight: 400;
	  margin-bottom: .2em;

	  & > * {
		display: inline-block;
		vertical-align: middle;
	  }

	  &:hover {
		.utouch-icon {
		  opacity: 1;
		}

		& > a {
		  margin-left: 8px;
		}
	  }

	  .utouch-icon {
		width: 16px;
		height: 16px;
		opacity: 0;
		margin-right: 0;
		margin-top: 2px;
		float: none;
	  }

	  a {
		color: $body-font-color;
		margin-right: 8px;

		&:hover {
		  color: $primary-color;
		}
	  }
	}

	li.menu-item-has-children {
	  & > {
		.utouch-icon {
		  display: none;
		}
	  }

	  & > .sub-menu {
		margin-left: 10px;
		display: block;
	  }

	  &:hover {

		a {
		  color: $body-font-color;
		}

		& > a {
		  margin-left: 0;
		  color: $body-font-color;
		}
	  }
	}

	.sub-menu li {
	  display: block;
	}

	li.menu-item-has-children a {
	  &:hover {
		color: inherit;
	  }
	}

	li.menu-item-has-children .menu-item:hover {

	  & > a {
		margin-left: 8px;
		color: $primary-color;
	  }

	  & > .utouch-icon {
		fill: $primary-color;
		opacity: 1;
	  }
	}

	li.menu-item-has-children .menu-item.menu-item-has-children:hover {

	  & > a {
		margin-left: 0;
		color: inherit;
	  }
	}

	li.menu-item-has-children {
	  &:hover {

		a {
		  color: inherit;
		}

		.utouch-icon {
		  fill: inherit;
		  opacity: 0;
		}
	  }
	}
  }
}



/*------------- styles-for-standard-wp-widget --------------*/


.widget_rss {
  li + li {
	margin-top: 20px;
  }

  .rss-date {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
  }
}

.widget_recent_comments {
  li + li {
	margin-top: 20px;
  }
}